Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest-pandas, pytest-modin, notebooks

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^datar/.+$
        pass_filenames: false
        entry: flake8
        args: [datar]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver datar/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|datar/__init__\.py$
    -   id: pytest-pandas
        name: Run pytest with pandas backend
        entry: pytest --backend pandas
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^datar/.+$
    -   id: pytest-modin
        name: Run pytest with modin backend
        entry: pytest --backend modin
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^datar/.+$
    -   id: notebooks
        name: Executing all notebooks
        entry: jupyter nbconvert --output-dir /tmp --to notebook --execute
        language: system
        pass_filenames: true
        files: ^docs/.+\.ipynb$
        exclude: '^docs/.+\.nbconvert\.ipynb$'

0.8.3 (#119)
  datar/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

➖ Add optional deps to extras so they aren't installed by default
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.8.4
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

👷 Update CI
  .github/workflows/build.yml
Due: none

🎨 Giva better message when optional packages not installed
  datar/base/bessel.py
  datar/base/funs.py
  datar/base/string.py
  docs/CHANGELOG.md
Due: flake8, pytest-pandas, pytest-modin

0.8.4 (#120)
  .github/workflows/build.yml
  datar/__init__.py
  datar/base/bessel.py
  datar/base/funs.py
  datar/base/string.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🐛 Fix columns missing after Join by same columns using mapping (#122)
  datar/dplyr/join.py
  tests/dplyr/test_join.py
Due: flake8, pytest-pandas, pytest-modin

🔖 0.8.5
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🔖 0.8.5 (#125)
  datar/__init__.py
  datar/dplyr/join.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/dplyr/test_join.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

⬆️ Update deps for docs
  docs/requirements.txt
Due: none

🐛 Fix weighted_mean not working for grouped data (#133)
  datar/base/arithmetic.py
Due: flake8, pytest-pandas, pytest-modin

✅ Add tests for weighted_mean on grouped data
  tests/base/test_stats.py
Due: pytest-pandas, pytest-modin

⚡️ Optimize distinct on existing columns
  datar/base/verbs.py
  datar/dplyr/distinct.py
  tests/dplyr/test_distinct.py
Due: flake8, pytest-pandas, pytest-modin

🔖 0.8.6
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🔖 0.8.6 (#134)
  datar/__init__.py
  datar/base/arithmetic.py
  datar/base/verbs.py
  datar/dplyr/distinct.py
  docs/CHANGELOG.md
  docs/requirements.txt
  pyproject.toml
  tests/base/test_stats.py
  tests/dplyr/test_distinct.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🐛 Fix core.broadcast._broadcast_base losing NA groups (#137)
  datar/core/broadcast.py
  datar/dplyr/group_by.py
Due: flake8, pytest-pandas, pytest-modin

🐛 Inherit pandas groupby() arguments wherever possible
  datar/core/broadcast.py
  datar/dplyr/summarise.py
  datar/tidyr/chop.py
Due: flake8, pytest-pandas, pytest-modin

🐛 Fix weighted_mean on NA raising error (#139)
  datar/base/arithmetic.py
  tests/base/test_stats.py
Due: flake8, pytest-pandas, pytest-modin

🐛 Inherit pandas groupby() arguments wherever possible even when grouping by a grouper (fixing #138 and #142)
  datar/base/casting.py
  datar/base/factor.py
  datar/base/funs.py
  datar/base/rep.py
  datar/base/seq.py
  datar/base/string.py
  datar/base/testing.py
  datar/base/trig_hb.py
  datar/core/broadcast.py
  datar/core/factory.py
  datar/core/operator.py
  datar/core/tibble.py
  datar/datar/funcs.py
  datar/dplyr/_rank.py
  datar/dplyr/dslice.py
  datar/dplyr/funs.py
  datar/dplyr/if_else.py
  datar/dplyr/recode.py
  datar/forcats/lvl_order.py
  datar/forcats/lvl_value.py
  datar/tidyr/chop.py
  datar/tidyr/nest.py
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

♻️ [wip] Allow varargs in func_factory
  datar/base/verbs.py
  datar/core/factory.py
  datar/core/utils.py
  datar/dplyr/across.py
  datar/dplyr/arrange.py
  datar/dplyr/bind.py
  datar/dplyr/count_tally.py
  datar/dplyr/dfilter.py
  datar/dplyr/distinct.py
  datar/dplyr/dslice.py
  datar/dplyr/group_by.py
  datar/dplyr/group_data.py
  datar/dplyr/group_iter.py
  datar/dplyr/join.py
  datar/dplyr/mutate.py
  datar/dplyr/pull.py
  datar/dplyr/relocate.py
  datar/dplyr/rename.py
  datar/dplyr/select.py
  datar/dplyr/summarise.py
  datar/dplyr/tidyselect.py
  datar/forcats/lvl_order.py
  datar/forcats/lvl_value.py
  datar/forcats/lvls.py
  datar/tibble/tibble.py
  datar/tibble/verbs.py
  datar/tidyr/chop.py
  datar/tidyr/drop_na.py
  datar/tidyr/expand.py
  datar/tidyr/extract.py
  datar/tidyr/fill.py
  datar/tidyr/pack.py
  datar/tidyr/replace_na.py
  datar/tidyr/separate.py
  tests/core/test_factory.py
Due: flake8, pytest-pandas, pytest-modin

⬆️ Upgrade pipda to 0.7.1
  poetry.lock
  pyproject.toml
Due: versionchecker

💚 Fix CI
  .github/workflows/build.yml
Due: none

🐛 Remove varname from get_versions
  datar/__init__.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

✅ Allow warnings in tests
  pyproject.toml
Due: versionchecker

🔖 0.9.0
  datar/__init__.py
  docs/CHANGELOG.md
  docs/reference-maps/base.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🚨 Fix linting
  datar/base/arithmetic.py
Due: flake8, pytest-pandas, pytest-modin

0.9.1
  datar/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

[0.9.1] Fix tests
  datar/dplyr/group_data.py
  tests/dplyr/test_filter.py
Due: flake8, pytest-pandas, pytest-modin

Fix CI
  .github/workflows/build.yml
Due: none

Update poetry.lock
  poetry.lock
Due: none

⬆️ Pump simplug to 0.2
  datar/core/plugin.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🔖 0.10.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

0.10.1 (#158)
  datar/__init__.py
  datar/core/plugin.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin
