Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest, notebooks

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
        exclude: 'docs/|README\.rst'
    -   id: end-of-file-fixer
        exclude: 'docs/|README\.rst'
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^datar/.+$
        pass_filenames: false
        types: [python]
        args: [datar]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        entry: dephell deps convert --from=poetry --to=setup.py
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: poetry2requirements
        name: Convert pyproject.toml to requirements.txt
        entry: dephell deps convert --from=poetry --to=requirements.txt
        language: system
        files: pyproject.toml
        pass_filenames: false
    # -   id: mypycheck
    #     name: Type checking by mypy
    #     entry: mypy
    #     language: system
    #     files: ^datar/.+$
    #     pass_filenames: false
    #     types: [python]
    #     args: [-p, datar]
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^datar/.+$
    -   id: notebooks
        name: Executing all notebooks
        entry: jupyter nbconvert --to notebook --execute
        language: system
        pass_filenames: true
        files: ^docs/.+\.ipynb$
        exclude: '^docs/.+\.nbconvert\.ipynb$'

0.4.2 (#44)
  datar/__init__.py
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/constants.py
  datar/base/factor.py
  datar/base/funs.py
  datar/base/na.py
  datar/base/seq.py
  datar/base/string.py
  datar/base/testing.py
  datar/base/verbs.py
  docs/CHANGELOG.md
  docs/reference-maps/base.md
  pyproject.toml
  requirements.txt
  setup.py
  tests/__init__.py
  tests/test_base_arithmetic.py
  tests/test_base_factor.py
  tests/test_base_funs.py
  tests/test_base_seq.py
  tests/test_base_string.py
  tests/test_base_verbs.py
  tests/test_core_grouped.py
Due: poetry2setuppy, poetry2requirements, pytest

Make sure assume_all_piping mode works internally: #45
  .pylintrc
  datar/base/verbs.py
  datar/core/grouped.py
  datar/core/utils.py
  datar/datar/verbs.py
  datar/dplyr/arrange.py
  datar/dplyr/context.py
  datar/dplyr/count_tally.py
  datar/dplyr/dfilter.py
  datar/dplyr/distinct.py
  datar/dplyr/dslice.py
  datar/dplyr/group_by.py
  datar/dplyr/group_data.py
  datar/dplyr/group_iter.py
  datar/dplyr/join.py
  datar/dplyr/mutate.py
  datar/dplyr/recode.py
  datar/dplyr/relocate.py
  datar/dplyr/rename.py
  datar/dplyr/rows.py
  datar/dplyr/select.py
  datar/dplyr/sets.py
  datar/dplyr/summarise.py
  datar/dplyr/tidyselect.py
  datar/tibble/verbs.py
  datar/tidyr/chop.py
  datar/tidyr/complete.py
  datar/tidyr/expand.py
  datar/tidyr/nest.py
  datar/tidyr/pack.py
  datar/tidyr/pivot_long.py
  datar/tidyr/separate.py
  datar/tidyr/uncount.py
  datar/tidyr/unite.py
  tests/__init__.py
  tests/test_dplyr_filter.py
  tests/test_dplyr_mutate.py
  tests/test_tidyr_unite.py
Due: pytest

Add ToothGrowth dataset
  datar/datasets/ToothGrowth.csv.gz
  docs/reference-maps/datasets.md
Due: pytest

Change datasets.all_datasets() to datasets.list_datasets()
  datar/datasets/__init__.py
  docs/datasets.md
  docs/reference-maps/datasets.md
Due: pytest

Make dataset names case-insensitive; add datasets economics, economics_long, faithful, faithfuld, luv_colours, midwest, mpg, msleep, presidential, seals, txhousing
  datar/datasets/__init__.py
  datar/datasets/chickweight.csv.gz
  datar/datasets/economics.csv.gz
  datar/datasets/economics_long.csv.gz
  datar/datasets/faithful.csv.gz
  datar/datasets/faithfuld.csv.gz
  datar/datasets/luv_colours.csv.gz
  datar/datasets/midwest.csv.gz
  datar/datasets/mpg.csv.gz
  datar/datasets/msleep.csv.gz
  datar/datasets/presidential.csv.gz
  datar/datasets/seals.csv.gz
  datar/datasets/toothgrowth.csv.gz
  datar/datasets/txhousing.csv.gz
  docs/datasets.md
  docs/reference-maps/datasets.md
Due: pytest

0.4.3
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest

Add `base.complete_cases`
  datar/base/__init__.py
  datar/base/verbs.py
  docs/CHANGELOG.md
  docs/reference-maps/base.md
  tests/test_base_verbs.py
Due: pytest

Adopt varname 0.8.0
  .pre-commit-config.yaml
  datar/tibble/tibble.py
Due: pytest

Add `base.make_names` and `base.name_unique`
  datar/base/__init__.py
  datar/base/funs.py
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_base_funs.py
Due: poetry2setuppy, poetry2requirements, pytest

0.4.4
  datar/__init__.py
  datar/base/funs.py
  docs/CHANGELOG.md
  docs/reference-maps/base.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest

Install python-slugify in CI
  .github/workflows/build.yml
Due: none

0.4.4 (#49)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  datar/__init__.py
  datar/base/__init__.py
  datar/base/funs.py
  datar/tibble/tibble.py
  docs/CHANGELOG.md
  docs/reference-maps/base.md
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_base_funs.py
Due: poetry2setuppy, poetry2requirements, pytest

Specify calling env for verbs internally for 1) better performance and 2) ensurance of pipda.options.assume_all_piping working thoroughly.
  datar/base/arithmetic.py
  datar/base/verbs.py
  datar/dplyr/count_tally.py
  datar/dplyr/distinct.py
  datar/dplyr/dslice.py
  datar/dplyr/group_by.py
  datar/dplyr/group_data.py
  datar/dplyr/group_iter.py
  datar/dplyr/mutate.py
  datar/dplyr/rename.py
  datar/dplyr/rows.py
  datar/dplyr/sets.py
  datar/dplyr/summarise.py
  datar/tibble/verbs.py
  datar/tidyr/expand.py
  datar/tidyr/fill.py
  datar/tidyr/separate.py
Due: pytest

Add forcats
  .gitignore
  datar/all.py
  datar/base/__init__.py
  datar/base/casting.py
  datar/base/factor.py
  datar/base/funs.py
  datar/base/seq.py
  datar/base/table.py
  datar/base/verbs.py
  datar/core/collections.py
  datar/core/types.py
  datar/datasets/__init__.py
  datar/dplyr/recode.py
Due: pytest

Add forcats
  datar/datasets/gss_cat.csv.gz
  datar/forcats/__init__.py
  datar/forcats/fct_multi.py
  datar/forcats/lvl_addrm.py
  datar/forcats/lvl_order.py
  datar/forcats/lvl_value.py
  datar/forcats/lvls.py
  datar/forcats/misc.py
  datar/forcats/utils.py
  docs/notebooks/forcats_fct_multi.ipynb
  docs/notebooks/forcats_lvl_addrm.ipynb
  docs/notebooks/forcats_lvl_order.ipynb
  docs/notebooks/forcats_lvl_value.ipynb
  docs/notebooks/forcats_misc.ipynb
Due: pytest, notebooks

Fix linting
  datar/base/seq.py
  datar/base/verbs.py
  datar/forcats/fct_multi.py
  datar/forcats/lvl_addrm.py
  datar/forcats/lvl_value.py
  datar/forcats/lvls.py
  datar/forcats/utils.py
Due: pytest

Add tests for forcats
  .pre-commit-config.yaml
  .pylintrc
  datar/__init__.py
  datar/base/__init__.py
  datar/base/factor.py
  datar/base/seq.py
  datar/base/table.py
  datar/base/verbs.py
  datar/datar/verbs.py
  datar/dplyr/recode.py
  datar/forcats/__init__.py
  datar/forcats/fct_multi.py
  datar/forcats/lvl_addrm.py
  datar/forcats/lvl_order.py
  datar/forcats/lvl_value.py
  datar/forcats/misc.py
  datar/forcats/utils.py
  pyproject.toml
  requirements.txt
  setup.py
  tests/conftest.py
  tests/test_base_factor.py
  tests/test_base_seq.py
  tests/test_base_verbs.py
  tests/test_datar.py
  tests/test_dplyr_bind.py
  tests/test_forcats_addrm.py
  tests/test_forcats_fct_multi.py
  tests/test_forcats_lvl_order.py
  tests/test_forcats_lvl_value.py
  tests/test_forcats_misc.py
Due: poetry2setuppy, poetry2requirements, pytest

Fix tests where factor get lost for fct_count() result for pandas < 1.3
  tests/test_forcats_misc.py
Due: pytest

Update docs
  README.md
  datar/base/table.py
  datar/base/verbs.py
  docs/CHANGELOG.md
  docs/reference-maps/ALL.md
  docs/reference-maps/base.md
  docs/reference-maps/datasets.md
  docs/reference-maps/forcats.md
Due: pytest

Remove README.rst
  README.rst
Due: none

Add docs for forcats (#53)
  README.md
  datar/base/table.py
  datar/base/verbs.py
  docs/CHANGELOG.md
  docs/reference-maps/ALL.md
  docs/reference-maps/base.md
  docs/reference-maps/datasets.md
  docs/reference-maps/forcats.md
  mkdocs.yml
Due: pytest

📝 Add documentation for the "blind" environments (#45, #54, #55)
  .pre-commit-config.yaml
  docs/caveats/blind.md
  docs/style.css
  mkdocs.yml
Due: none

🩹 Fix trimws not importable from datar.all/datar.base
  datar/base/__init__.py
  docs/reference-maps/base.md
Due: pytest

✨ Make as_date() return pd datetime types; Add as_pd_date() as an alias of pd.to_datetime() (#56)
  datar/base/__init__.py
  datar/base/date.py
  docs/reference-maps/base.md
  tests/test_base_date.py
Due: pytest

🔖 0.5.1
  datar/__init__.py
  datar/base/date.py
  docs/CHANGELOG.md
  pyproject.toml
Due: poetry2setuppy, poetry2requirements, pytest

🚨 Fix linting
  datar/base/date.py
Due: pytest

👷 Deploy the docs on dev branch as well
  .github/workflows/docs.yml
Due: none

💚 Fix docs deply in CI
  .github/workflows/docs.yml
Due: none

0.5.1 (#59)
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  datar/__init__.py
  datar/base/__init__.py
  datar/base/date.py
  docs/CHANGELOG.md
  docs/caveats/blind.md
  docs/reference-maps/base.md
  docs/style.css
  mkdocs.yml
  pyproject.toml
  tests/test_base_date.py
Due: poetry2setuppy, poetry2requirements, pytest

🔧 Add metadata for datasets
  datar/datasets/__init__.py
  datar/datasets/metadata.toml
  datar/datasets/mtcars.csv.gz
Due: pytest

📝 Mention datar-cli in README
  README.md
  datar/datasets/__init__.py
  datar/dplyr/summarise.py
Due: pytest

🔊 Send logs to stderr
  datar/core/utils.py
  datar/dplyr/group_by.py
Due: pytest

🔖 0.5.2
  .pre-commit-config.yaml
  datar/__init__.py
  pyproject.toml
Due: poetry2setuppy, poetry2requirements, pytest

🔊 Update CHANGELOG
  docs/CHANGELOG.md
Due: none

⚡️ Optimize dplyr.arrange when data are series from the df
  .coveragerc
  datar/core/grouped.py
  datar/dplyr/arrange.py
  tests/test_dplyr_arrange.py
  tests/test_dplyr_count.py
Due: pytest

🔧 Update coveragerc
  .coveragerc
Due: none
