Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest-pandas, pytest-modin, notebooks

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^datar/.+$
        pass_filenames: false
        entry: flake8
        args: [datar]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver datar/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|datar/__init__\.py$
    -   id: pytest-pandas
        name: Run pytest with pandas backend
        entry: pytest --backend pandas
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^datar/.+$
    -   id: pytest-modin
        name: Run pytest with modin backend
        entry: pytest --backend modin
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^datar/.+$
    -   id: notebooks
        name: Executing all notebooks
        entry: jupyter nbconvert --output-dir /tmp --to notebook --execute
        language: system
        pass_filenames: true
        files: ^docs/.+\.ipynb$
        exclude: '^docs/.+\.nbconvert\.ipynb$'

🐛 Fix `tidyr.expand()` when `nesting(f.name)` as argument
  datar/tidyr/expand.py
  tests/tidyr/test_expand.py
Due: flake8, pytest-pandas, pytest-modin

🔖 0.7.0
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🐛 Fix `settingwithcopywarning` in `tidyr.pivot_wider()`
  datar/tidyr/pivot_wide.py
Due: flake8, pytest-pandas, pytest-modin

📌 Pin deps for docs
  docs/requirements.txt
Due: none

Small typo fix
  README.md
Due: none

One more very small syntax fix
  README.md
Due: none

Small typo fix (#99)
  README.md
Due: none

One more very small syntax fix (#100)
  README.md
Due: none

💚 Don't upload coverage in RP
  .github/workflows/build.yml
Due: none

🔖 0.7.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

0.7.1 (#101)
  .github/workflows/build.yml
  datar/__init__.py
  datar/tidyr/pivot_wide.py
  docs/CHANGELOG.md
  docs/requirements.txt
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🐛 Fix base.sprintf() not working with Series (#102)
  datar/base/string.py
  tests/base/test_string.py
Due: flake8, pytest-pandas, pytest-modin

🩹 Typos in argument names of tidyr.pivot_longer() (#104)
  datar/tidyr/pivot_long.py
Due: flake8, pytest-pandas, pytest-modin

✨ Allow tidyr.unite() to unite multiple columns into a list, instead of join them (#105)
  datar/tidyr/unite.py
  tests/tidyr/test_unite.py
Due: flake8, pytest-pandas, pytest-modin

🔖 0.7.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🩹 Use agg() instead of apply in base.sprintf()
  datar/base/string.py
Due: flake8, pytest-pandas, pytest-modin

🔖 0.7.2 (#106)
  datar/__init__.py
  datar/base/string.py
  datar/tidyr/pivot_long.py
  datar/tidyr/unite.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/base/test_string.py
  tests/tidyr/test_unite.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🩹 Attach original `__module__` to `func_factory` registed functions
  datar/core/factory.py
Due: flake8, pytest-pandas, pytest-modin

✨ Allow configuration file to save default options; 💥Replace option `warn_builtin_names` with `imiport_names_conflict` (#73)
  datar/__init__.py
  datar/all.py
  datar/base/__init__.py
  datar/core/import_names_conflict.py
  datar/core/options.py
  datar/core/warn_builtin_names.py
  datar/dplyr/__init__.py
  docs/import.md
  docs/notebooks/nb_helpers.py
  docs/options.md
  mkdocs.yml
  tests/conftest.py
  tests/core/test_import_name_conflict.py
  tests/core/test_options.py
  tests/core/test_warn_builtin_names.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🐛 Register `base.factor()` and accept grouped data (#108)
  datar/base/factor.py
Due: flake8, pytest-pandas, pytest-modin

✨ Support `base.glimpse()` (#107, machow/siuba#409)
  datar/base/__init__.py
  datar/base/glimpse.py
  docs/notebooks/nest.ipynb
  docs/reference-maps/base.md
  tests/base/test_glimpse.py
Due: flake8, pytest-pandas, pytest-modin, notebooks

✅ Add tests for `base.factor()` with grouped data
  tests/base/test_factor.py
Due: pytest-pandas, pytest-modin

🔖 0.8.0
  datar/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

📝 Update CHANGELOG
  docs/CHANGELOG.md
Due: none

🔖 0.8.0 (#110)
  datar/__init__.py
  datar/all.py
  datar/base/__init__.py
  datar/base/factor.py
  datar/base/glimpse.py
  datar/core/factory.py
  datar/core/import_names_conflict.py
  datar/core/options.py
  datar/core/warn_builtin_names.py
  datar/dplyr/__init__.py
  docs/CHANGELOG.md
  docs/import.md
  docs/notebooks/nb_helpers.py
  docs/notebooks/nest.ipynb
  docs/options.md
  docs/reference-maps/base.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/base/test_factor.py
  tests/base/test_glimpse.py
  tests/conftest.py
  tests/core/test_import_name_conflict.py
  tests/core/test_options.py
  tests/core/test_warn_builtin_names.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin, notebooks

🐛 month_abb and month_name being truncated (#112)
  datar/base/constants.py
Due: flake8, pytest-pandas, pytest-modin

🐛 Fix unite() not keeping other columns (#111)
  datar/tidyr/unite.py
  tests/tidyr/test_unite.py
Due: flake8, pytest-pandas, pytest-modin

🔖 0.8.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🔖 0.8.1 (#113)
  datar/__init__.py
  datar/base/constants.py
  datar/tidyr/unite.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/tidyr/test_unite.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🐛 Fix #115
  datar/base/seq.py
  tests/base/test_seq.py
Due: flake8, pytest-pandas, pytest-modin

🐛 Fix base.match for pandas 1.3.0
  datar/base/seq.py
Due: flake8, pytest-pandas, pytest-modin

🐛 Move glimpse to dplyr and fix #117
  datar/base/__init__.py
  datar/dplyr/__init__.py
  datar/dplyr/glimpse.py
  tests/dplyr/test_glimpse.py
Due: flake8, pytest-pandas, pytest-modin

📌 Use rtoml instead of toml and pin dep versions
  datar/core/options.py
  datar/datasets/__init__.py
  pyproject.toml
  tests/core/test_import_name_conflict.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

🚑 Fix python version conflict (with modin)
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.8.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin

0.8.2 (#118)
  datar/__init__.py
  datar/base/__init__.py
  datar/base/seq.py
  datar/core/options.py
  datar/datasets/__init__.py
  datar/dplyr/__init__.py
  datar/dplyr/glimpse.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/base/test_seq.py
  tests/core/test_import_name_conflict.py
  tests/dplyr/test_glimpse.py
Due: flake8, versionchecker, pytest-pandas, pytest-modin

⬆️️ Upgrade thon-simpleconf to 5.5
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Upgrade pipda to v0.6
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.8.3
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest-pandas, pytest-modin
