Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest, mkdocs

poetry2setuppy:
  name: Convert pyproject.toml to setup.py
  entry: dephell deps convert --from=poetry --to=setup.py
  language: system
  pass_filenames: false

poetry2requirements:
  name: Convert pyproject.toml to requirements.txt
  entry: dephell deps convert --from=poetry --to=requirements.txt
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

mkdocs:
  name: Compile docs
  entry: mkdocs
  language: system
  args:
  - build
  pass_filenames: false

Reset NaN to NA; add tests for base
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/bessel.py
  datar/base/complex.py
  datar/base/cum.py
  tests/test_base_casting.py
  tests/test_base_complex.py
  tests/test_base_cum.py
Due: pytest, mkdocs

Add more tests for base
  datar/base/funs.py
  tests/test_base.py
  tests/test_base_date.py
  tests/test_base_factor.py
  tests/test_base_funs.py
  tests/test_base_logical.py
  tests/test_base_seq.py
Due: pytest, mkdocs

Add tests to coverage all codes
  datar/base/string.py
  datar/core/frame_format_patch.py
  datar/core/operator.py
  datar/core/utils.py
  datar/dplyr/mutate.py
  datar/dplyr/pull.py
  datar/dplyr/summarise.py
  datar/stats/__init__.py
  datar/stats/funs.py
  datar/tidyr/chop.py
  datar/tidyr/drop_na.py
  tests/test_core_operator.py
  tests/test_core_utils.py
  tests/test_stats_funs.py
Due: pytest, mkdocs

Add tests for #14
  tests/test_dplyr_summarise.py
Due: pytest

0.2.0
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Add wcwidth to CI
  .github/workflows/build.yml
Due: none

Update and fix notebooks
  datar/base/__init__.py
  datar/core/names.py
  datar/dplyr/funs.py
  datar/dplyr/group_iter.py
  datar/dplyr/recode.py
  datar/tibble/tibble.py
  datar/tibble/verbs.py
  docs/notebooks/across.ipynb
  docs/notebooks/add_column.ipynb
  docs/notebooks/add_row.ipynb
  docs/notebooks/arrange.ipynb
  docs/notebooks/base.ipynb
  docs/notebooks/between.ipynb
  docs/notebooks/context.ipynb
  docs/notebooks/get.ipynb
  docs/notebooks/group_by.ipynb
  docs/notebooks/group_map.ipynb
  docs/notebooks/group_split.ipynb
  docs/notebooks/group_trim.ipynb
  docs/notebooks/mutate.ipynb
  docs/notebooks/na_if.ipynb
  docs/notebooks/nb_helpers.py
  docs/notebooks/separate.ipynb
  docs/notebooks/summarise.ipynb
  docs/notebooks/tibble.ipynb
  tests/test_dplyr_select.py
  tests/test_tibble_tibble.py
Due: pytest, mkdocs

Fix docs
  docs/TODO.md
  docs/reference-maps/ALL.md
  docs/requirements.txt
Due: none

Docs fixing (#16)
  datar/base/__init__.py
  datar/core/names.py
  datar/dplyr/funs.py
  datar/dplyr/group_iter.py
  datar/dplyr/recode.py
  datar/tibble/tibble.py
  datar/tibble/verbs.py
  docs/TODO.md
  docs/notebooks/across.ipynb
  docs/notebooks/add_column.ipynb
  docs/notebooks/add_row.ipynb
  docs/notebooks/arrange.ipynb
  docs/notebooks/base.ipynb
  docs/notebooks/between.ipynb
  docs/notebooks/context.ipynb
  docs/notebooks/get.ipynb
  docs/notebooks/group_by.ipynb
  docs/notebooks/group_map.ipynb
  docs/notebooks/group_split.ipynb
  docs/notebooks/group_trim.ipynb
  docs/notebooks/mutate.ipynb
  docs/notebooks/na_if.ipynb
  docs/notebooks/nb_helpers.py
  docs/notebooks/separate.ipynb
  docs/notebooks/summarise.ipynb
  docs/notebooks/tibble.ipynb
  docs/reference-maps/ALL.md
  docs/requirements.txt
  tests/test_dplyr_select.py
  tests/test_tibble_tibble.py
Due: pytest, mkdocs

Add logo
  .github/workflows/docs.yml
  README.md
  logo.png
Due: none

Add blog link to README
  README.md
Due: none

Add reference map for base
  README.md
  docs/reference-maps/base.md
Due: none

Add all reference maps
  docs/notebooks/datar.ipynb
  docs/reference-maps/ALL.md
  docs/reference-maps/datar.md
  docs/reference-maps/stats.md
  docs/reference-maps/utils.md
  mkdocs.yml
Due: none

Use observed values for non-observsed value match for group_data instead of NAs, which might change the dtype.
  README.rst
  datar/core/grouped.py
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_core_grouped.py
  tests/test_dplyr_empty_groups.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

0.2.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Add all reference maps (#17)
  .github/workflows/docs.yml
  README.md
  README.rst
  datar/__init__.py
  datar/core/grouped.py
  docs/CHANGELOG.md
  docs/notebooks/datar.ipynb
  docs/reference-maps/ALL.md
  docs/reference-maps/base.md
  docs/reference-maps/datar.md
  docs/reference-maps/stats.md
  docs/reference-maps/utils.md
  logo.png
  mkdocs.yml
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_core_grouped.py
  tests/test_dplyr_empty_groups.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Update docs
  docs/TODO.md
  docs/porting_rules.md
  mkdocs.yml
Due: none

Update docs (#18)
  docs/TODO.md
  docs/porting_rules.md
  mkdocs.yml
Due: none

Use better warn builtin names
  datar/all.py
  datar/base/__init__.py
  datar/core/warn_builtin_names.py
  datar/dplyr/__init__.py
  docs/import.md
Due: pytest, mkdocs

Fix index of subdf not dropped for mutate on grouped data
  datar/dplyr/mutate.py
  tests/test_dplyr_arrange.py
  tests/test_dplyr_context.py
  tests/test_dplyr_count.py
  tests/test_dplyr_mutate.py
Due: pytest, mkdocs

Fix names_glue not working with single values_from for tidyr.pivot_wider
  datar/tidyr/pivot_wide.py
  tests/test_tidyr_pivot_wide.py
Due: pytest, mkdocs

Fix paste not registered; Fix grep/grepl on NA; Make sub/gsub return scalar when inputs are scalar strings
  datar/base/string.py
Due: pytest, mkdocs

0.2.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

0.2.2 (#19)
  datar/__init__.py
  datar/all.py
  datar/base/__init__.py
  datar/base/string.py
  datar/core/warn_builtin_names.py
  datar/dplyr/__init__.py
  datar/dplyr/mutate.py
  datar/tidyr/pivot_wide.py
  docs/CHANGELOG.md
  docs/import.md
  pyproject.toml
  setup.py
  tests/test_dplyr_arrange.py
  tests/test_dplyr_context.py
  tests/test_dplyr_count.py
  tests/test_dplyr_mutate.py
  tests/test_tidyr_pivot_wide.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Add tests for NA in base.grep/grepl
  tests/test_base_string.py
Due: pytest

Update logo
  logo.png
Due: none

Add favicon for docs
  docs/favicon.png
  mkdocs.yml
Due: none

Fix compatibility with pandas v1.2.0~4
  .github/workflows/build.yml
  datar/core/frame_format_patch.py
  datar/dplyr/rank.py
Due: pytest, mkdocs

Fix ci configuration
  .github/workflows/build.yml
Due: none

Fix linting
  .github/workflows/build.yml
  datar/base/bessel.py
  datar/base/table.py
  datar/core/utils.py
  datar/dplyr/dslice.py
  datar/dplyr/group_by.py
  datar/dplyr/lead_lag.py
  datar/tidyr/extract.py
Due: pytest, mkdocs

Fix linting
  datar/dplyr/group_by.py
Due: pytest, mkdocs

Remove pandas 1.2.1~4 from CI
  .github/workflows/build.yml
Due: none

Fix base.table when inputs are factors and exclude is NA; Add base.scale/col_sums/row_sums/col_means/row_means/col_sds/row_sds/col_medians/row_medians
  datar/__init__.py
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/table.py
  datar/base/verbs.py
  datar/dplyr/count_tally.py
  datar/stats/funs.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  tests/test_base_arithmetic.py
  tests/test_base_table.py
  tests/test_dplyr_funs.py
  tests/test_dplyr_mutate.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Fix linting
  .github/workflows/build.yml
  .pylintrc
  datar/dplyr/across.py
Due: pytest, mkdocs

0.2.3 (#21)
  .github/workflows/build.yml
  .pylintrc
  datar/__init__.py
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/bessel.py
  datar/base/table.py
  datar/base/verbs.py
  datar/core/frame_format_patch.py
  datar/core/utils.py
  datar/dplyr/across.py
  datar/dplyr/count_tally.py
  datar/dplyr/dslice.py
  datar/dplyr/group_by.py
  datar/dplyr/lead_lag.py
  datar/dplyr/rank.py
  datar/stats/funs.py
  datar/tidyr/extract.py
  docs/CHANGELOG.md
  docs/favicon.png
  logo.png
  mkdocs.yml
  pyproject.toml
  setup.py
  tests/test_base_arithmetic.py
  tests/test_base_table.py
  tests/test_dplyr_funs.py
  tests/test_dplyr_mutate.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Update CI configuration
  .github/workflows/build.yml
Due: none

Rename argument dtypes of unchop and unnest to ptype
  datar/tidyr/chop.py
  datar/tidyr/nest.py
  tests/test_tidyr_chop.py
Due: pytest, mkdocs

Path conditions:
  poetry2setuppy: any of: pyproject.toml
  poetry2requirements: any of: pyproject.toml
  pytest: any of: ^tests/.+$|^datar/.+$
  mkdocs: any of: ^datar/.+$
