Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest, notebooks

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - datar
  language: system

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

notebooks:
  name: Executing all notebooks
  entry: jupyter nbconvert --output-dir /tmp --to notebook --execute
  language: system
  pass_filenames: true

✨ Add `base.diff()`
  datar/base/__init__.py
  datar/base/funs.py
  tests/base/test_funs.py
Due: flake8, pytest

📝 Update docs for `dplyr.base`
  datar/all.py
  docs/notebooks/base-arithmetic.ipynb
  docs/notebooks/base-funs.ipynb
  docs/notebooks/base.ipynb
  docs/reference-maps/base.md
  docs/reference-maps/stats.md
Due: flake8, pytest, notebooks

📝 Update mkdocs.yml
  mkdocs.yml
Due: none

📝 Update CHANGELOG
  docs/CHANGELOG.md
Due: none

🚑 Fix false alarm from `rename()`/`relocate()` for missing grouping variables (#89)
  datar/dplyr/relocate.py
  datar/dplyr/rename.py
  datar/dplyr/select.py
Due: flake8, pytest

📝 Add deps for docs building
  docs/requirements.txt
Due: none

🔖 0.6.2 (#88)
  datar/__init__.py
  datar/all.py
  datar/base/__init__.py
  datar/base/funs.py
  datar/core/broadcast.py
  datar/core/operator.py
  datar/dplyr/relocate.py
  datar/dplyr/rename.py
  datar/dplyr/select.py
  docs/CHANGELOG.md
  docs/notebooks/base-arithmetic.ipynb
  docs/notebooks/base-funs.ipynb
  docs/notebooks/base.ipynb
  docs/notebooks/case_when.ipynb
  docs/reference-maps/base.md
  docs/reference-maps/stats.md
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
  tests/base/test_funs.py
Due: flake8, pytest, notebooks

✨ Allow `base.c()` to handle groupby data
  datar/base/seq.py
  tests/base/test_seq.py
Due: flake8, pytest

🚑 Allow `base.diff()` to work with groupby data
  datar/base/funs.py
Due: flake8, pytest

✨ Allow `forcats.fct_inorder()` to work with groupby data
  datar/forcats/lvl_order.py
Due: flake8, pytest

Add SeriesGroupBy as available type for forcats verbs
  datar/forcats/utils.py
Due: flake8, pytest

✨ Add `datar.attrgetter()`, `datar.pd_str()`, `datar.pd_cat()` and `datar.pd_dt()`
  datar/datar/__init__.py
  datar/datar/funcs.py
  tests/test_datar.py
Due: flake8, pytest

🚑 Fix `base.c()` with grouped data
  datar/base/seq.py
Due: flake8, pytest

📝 Update docs for `datar.datar`
  docs/notebooks/datar.ipynb
  docs/reference-maps/datar.md
Due: notebooks

🔖 0.6.3
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

Update readme.ipynb
  docs/notebooks/readme.ipynb
Due: notebooks

0.6.3 (#91)
  datar/__init__.py
  datar/base/__init__.py
  datar/base/funs.py
  datar/base/rep.py
  datar/base/seq.py
  datar/core/broadcast.py
  datar/core/operator.py
  datar/core/utils.py
  datar/datar/__init__.py
  datar/datar/funcs.py
  datar/dplyr/context.py
  datar/dplyr/count_tally.py
  datar/dplyr/dslice.py
  datar/dplyr/group_data.py
  datar/forcats/lvl_order.py
  datar/forcats/utils.py
  docs/CHANGELOG.md
  docs/notebooks/datar.ipynb
  docs/notebooks/readme.ipynb
  docs/reference-maps/datar.md
  pyproject.toml
  tests/base/test_funs.py
  tests/base/test_rep.py
  tests/base/test_seq.py
  tests/core/test_broadcast.py
  tests/core/test_operator.py
  tests/core/test_utils.py
  tests/dplyr/test_across.py
  tests/dplyr/test_empty_groups.py
  tests/dplyr/test_slice.py
  tests/forcats/test_forcats_lvl_order.py
  tests/test_datar.py
Due: flake8, pytest, notebooks

🩹 Make `base.ntile()` labels 1-based
  datar/dplyr/_rank.py
  datar/dplyr/rank.py
  docs/CHANGELOG.md
  tests/dplyr/test_mutate_windowed.py
  tests/dplyr/test_rank.py
Due: flake8, pytest

🚑 Allow `base.paste/paste0()` to work with grouped data
  datar/base/string.py
  tests/base/test_string.py
Due: flake8, pytest

Update CHANGLOG
  docs/CHANGELOG.md
Due: none

🩹 Make `base.ntile()` labels 1-based (#92)
  datar/base/string.py
  datar/dplyr/_rank.py
  datar/dplyr/rank.py
  docs/CHANGELOG.md
  tests/base/test_string.py
  tests/dplyr/test_mutate_windowed.py
  tests/dplyr/test_rank.py
Due: flake8, pytest

🔥 Remove unused code
  datar/base/seq.py
  datar/base/string.py
Due: flake8, pytest

🩹 Change dtypes of `base.letters/LETTERS/month_abb/month_name`
  .gitignore
  datar/base/constants.py
  poetry.lock
Due: flake8, pytest

📝 Update reference maps
  docs/reference-maps/base.md
  docs/reference-maps/datar.md
  docs/reference-maps/tibble.md
  docs/reference-maps/tidyr.md
Due: none

📝 Add environment.yml for binder to work
  docs/notebooks/nb_helpers.py
  environment.yml
Due: none

Update environment.yml
  environment.yml
Due: none

📝 Update styles for docs
  docs/notebooks/nb_helpers.py
  docs/style.css
  mkdocs.yml
Due: none

🐛 Fix order_by argument for `dplyr.lead-lag`
  datar/core/broadcast.py
  datar/dplyr/lead_lag.py
  tests/__init__.py
  tests/dplyr/test_funs.py
Due: flake8, pytest

📝 Update README
  README.md
Due: none

🔖 0.6.4
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

🩹 Use modin.pandas.read_csv to read datasets if backend is modin
  datar/core/backends/pandas/__init__.py
  datar/datasets/__init__.py
Due: flake8, pytest

📌 Update poetry.lock
  poetry.lock
Due: none

👷 Make show versions to include modin version when backend is modin
  .github/workflows/build.yml
Due: none

✨ Add `_return` argument for `datar.options()`
  datar/core/options.py
  docs/notebooks/nb_helpers.py
  tests/core/test_options.py
Due: flake8, pytest

📝 Add doc about backends
  README.md
  docs/backends.md
  mkdocs.yml
Due: none

Path conditions:
  flake8: any of: ^datar/.+$ and \.py$
  pytest: any of: ^tests/.+$|^datar/.+$
  notebooks: any of: ^docs/.+\.ipynb$, but not: ^docs/.+\.nbconvert\.ipynb$
