Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest, mkdocs

.pre-commit-config.yaml:

fail_fast: false
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
        exclude: 'docs/'
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^datar/.+$
        pass_filenames: false
        types: [python]
        args: [datar]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        entry: dephell deps convert --from=poetry --to=setup.py
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: poetry2requirements
        name: Convert pyproject.toml to requirements.txt
        entry: dephell deps convert --from=poetry --to=requirements.txt
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^datar/.+$
    -   id: mkdocs
        name: Compile docs
        entry: mkdocs
        language: system
        args: [build]
        pass_filenames: false
        files: ^datar/.+$

Update notebook for tidyr.full_seq
  docs/notebooks/full_seq.ipynb
  docs/reference-maps/tidyr.md
Due: none

0.0.7
  datar/__init__.py
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Update CHANGELOG
  README.md
  docs/CHANGELOG.md
Due: none

Update porting rules
  docs/porting_rules.md
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

Reuse core.utils.reconstruct_tibble for all APIs
  datar/core/utils.py
  datar/dplyr/arrange.py
  datar/dplyr/distinct.py
  datar/dplyr/filter.py
  datar/dplyr/group_iter.py
  datar/dplyr/join.py
  datar/dplyr/mutate.py
  datar/dplyr/sets.py
  datar/dplyr/slice.py
  datar/dplyr/summarise.py
  datar/tibble/funcs.py
  datar/tidyr/chop.py
  datar/tidyr/complete.py
  datar/tidyr/drop_na.py
  datar/tidyr/expand.py
  datar/tidyr/extract.py
  datar/tidyr/fill.py
  datar/tidyr/nest.py
  datar/tidyr/pack.py
  datar/tidyr/pivot_long.py
  datar/tidyr/pivot_wide.py
  datar/tidyr/separate.py
  datar/tidyr/uncount.py
Due: pytest, mkdocs

Default values_fn for pivot_wider to identity
  datar/tidyr/pivot_wide.py
  tests/test_tidyr_pivot_wide.py
Due: pytest, mkdocs

Adopt pipda 0.2.7
  datar/dplyr/across.py
  datar/tibble/funcs.py
Due: pytest, mkdocs

Create core.tibble module
  datar/core/tibble.py
Due: pytest, mkdocs

Create core.tibble module (#12)
  datar/core/tibble.py
Due: pytest, mkdocs

Patch pandas to show dtypes and collapsed df cell when printing a data frame.
  datar/__init__.py
  datar/base/__init__.py
  datar/core/frame_format_patch.py
  datar/core/options.py
  datar/core/tibble.py
  tests/test_core_frame_format_patch.py
  tests/test_core_options.py
Due: pytest, mkdocs

Fix dataframe html and notebook formatter
  README.md
  datar/core/frame_format_patch.py
  docs/notebooks/readme.ipynb
  docs/notebooks/rename.ipynb
  tests/test_core_frame_format_patch.py
Due: pytest, mkdocs

Allow `f.a.b` to access nested df column
  datar/core/contexts.py
  datar/core/utils.py
  tests/test_core.py
Due: pytest, mkdocs

Use pandas.NA instead of numpy.nan as NA
  datar/base/__init__.py
  datar/base/constants.py
  datar/base/funcs.py
  datar/core/defaults.py
  datar/core/types.py
  datar/core/utils.py
  datar/stats/verbs.py
  docs/TODO.md
  tests/test_base.py
Due: pytest, mkdocs

Update README.
  README.md
  docs/notebooks/readme.ipynb
Due: none

Add base.which
  datar/base/__init__.py
  datar/base/funcs.py
  datar/core/tibble.py
Due: pytest, mkdocs

Fix base.max
  datar/base/arithmetic.py
Due: pytest, mkdocs

Add datasets.ChickWeight
  datar/datasets/ChickWeight.csv.gz
Due: pytest, mkdocs

Add base.cov/var; Adopt pipda 0.2.8; Allow dplyr.across to have plain functions passed with default EVAL context.
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/verbs.py
  datar/core/contexts.py
  datar/dplyr/across.py
Due: pytest, mkdocs

0.1.1
  README.rst
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

0.1.1 (#13)
  README.rst
  datar/__init__.py
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/funcs.py
  datar/base/verbs.py
  datar/core/contexts.py
  datar/core/tibble.py
  datar/datasets/ChickWeight.csv.gz
  datar/dplyr/across.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Add base.which_min/which_max
  datar/base/__init__.py
  datar/base/funcs.py
  datar/base/which.py
  datar/core/options.py
  docs/reference-maps/ALL.md
  docs/reference-maps/base.md
  mkdocs.yml
Due: pytest, mkdocs

Add base.bessel functions
  datar/base/__init__.py
  datar/base/bessel.py
  tests/conftest.py
  tests/test_base_bessel.py
Due: pytest, mkdocs

Add base.na module
  datar/base/__init__.py
  datar/base/constants.py
  datar/base/funs.py
  datar/base/na.py
  datar/base/table.py
  datar/dplyr/desc.py
  datar/dplyr/funs.py
  datar/dplyr/if_else.py
  datar/dplyr/lead_lag.py
  datar/dplyr/rank.py
  datar/dplyr/recode.py
  datar/dplyr/slice.py
  datar/tidyr/pivot_wide.py
  tests/test_base_na.py
  tests/test_tibble_tibble.py
  tests/test_tibble_verbs.py
Due: pytest, mkdocs

Allow names like `a_1` in `check_unique` name repairs
  datar/core/names.py
  tests/test_core_names.py
Due: pytest, mkdocs

Support duplicated keyword arguments for dplyr.mutate/summarise by using '_' as suffix
  datar/dplyr/mutate.py
  datar/dplyr/summarise.py
  tests/test_dplyr_mutate.py
  tests/test_dplyr_summarise.py
Due: pytest, mkdocs

Add base.null module
  datar/base/__init__.py
  datar/base/constants.py
  datar/base/null.py
  datar/core/utils.py
  datar/dplyr/mutate.py
  datar/dplyr/summarise.py
  datar/tibble/tibble.py
  tests/test_base_na.py
  tests/test_base_null.py
Due: pytest, mkdocs

Add base.random module
  datar/base/random.py
  tests/test_base_random.py
Due: pytest, mkdocs

Add base.special
  datar/base/__init__.py
  datar/base/bessel.py
  datar/base/special.py
  tests/conftest.py
  tests/test_base_special.py
Due: pytest, mkdocs

Add base.trig
  datar/base/__init__.py
  datar/base/funs.py
  datar/base/special.py
  datar/base/trig.py
  tests/test_base_trig.py
Due: pytest, mkdocs

Add base Hyperbolic functions
  datar/base/__init__.py
  datar/base/factor.py
  datar/base/string.py
  datar/base/testing.py
  datar/base/trig_hb.py
  tests/test_base_trig_hb.py
Due: pytest, mkdocs

Reorganize datar.base
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/casting.py
  datar/base/complex.py
  datar/base/constants.py
  datar/base/cum.py
  datar/base/date.py
  datar/base/factor.py
  datar/base/funs.py
  datar/base/logical.py
  datar/base/na.py
  datar/base/seq.py
  datar/base/string.py
  datar/base/testing.py
  datar/base/which.py
  datar/core/types.py
  datar/core/utils.py
  datar/dplyr/pull.py
  datar/stats/funcs.py
  datar/tidyr/replace_na.py
  tests/test_base.py
  tests/test_dplyr_bind.py
  tests/test_dplyr_filter.py
  tests/test_tibble_verbs.py
Due: pytest, mkdocs

Add scipy as optional dependency
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_base_special.py
Due: poetry2setuppy, poetry2requirements, pytest

Install scipy in CI
  .github/workflows/build.yml
Due: none

Fix scipy install in CI
  .github/workflows/build.yml
Due: none

Warn when import python builtin names directly; Don't allow from datar.datasets import *; Remove modkit dependency
  datar/all.py
  datar/base/__init__.py
  datar/core/options.py
  datar/core/warn_builtin_names.py
  datar/datar/verbs.py
  datar/datasets/__init__.py
  datar/dplyr/__init__.py
  datar/dplyr/count_tally.py
  datar/dplyr/dfilter.py
  datar/dplyr/dslice.py
  datar/dplyr/join.py
  datar/dplyr/rank.py
  datar/dplyr/tidyselect.py
  docs/import.md
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_core_warn_builtin_names.py
  tests/test_dplyr_across.py
  tests/test_dplyr_slice.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Set NaN to NA; add test for base.arithmetic
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/casting.py
  datar/base/na.py
  tests/test_base_arithmetic.py
  tests/test_tidyr_drop_na.py
  tests/test_tidyr_fill.py
Due: pytest, mkdocs
