Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest, mkdocs

.pre-commit-config.yaml:

fail_fast: false
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
        exclude: 'docs/'
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^datar/.+$
        pass_filenames: false
        types: [python]
        args: [datar]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        entry: dephell deps convert --from=poetry --to=setup.py
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: poetry2requirements
        name: Convert pyproject.toml to requirements.txt
        entry: dephell deps convert --from=poetry --to=requirements.txt
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^datar/.+$
    -   id: mkdocs
        name: Compile docs
        entry: mkdocs
        language: system
        args: [build]
        pass_filenames: false
        files: ^datar/.+$

Add rest of APIs of tidyverse/tibble, need tests.
  datar/tibble/__init__.py
  datar/tibble/funcs.py
  tests/test_tibble.py
Due: pytest, mkdocs

Finish tests for APIs of tibble
  datar/base/funcs.py
  datar/dplyr/bind.py
  datar/tibble/funcs.py
  docs/TODO.md
  tests/test_dplyr_sets.py
  tests/test_dplyr_summarise.py
  tests/test_tibble.py
Due: pytest, mkdocs

Finish tibble
  .pre-commit-config.yaml
  datar/tibble/__init__.py
  datar/tibble/funcs.py
  docs/TODO.md
  docs/notebooks/add_column.ipynb
  docs/notebooks/add_row.ipynb
  docs/notebooks/enframe.ipynb
  docs/notebooks/rownames.ipynb
  docs/notebooks/tibble.ipynb
  docs/reference-maps/ALL.md
  docs/reference-maps/tibble.md
  mkdocs.yml
  tests/test_tibble.py
Due: pytest, mkdocs

Update README.md
  README.md
Due: none

0.0.4
  .pre-commit-config.yaml
  README.rst
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Add reference map for dplyr
  datar/dplyr/count_tally.py
  datar/dplyr/filter.py
  datar/dplyr/group_by.py
  datar/dplyr/join.py
  datar/dplyr/mutate.py
  datar/dplyr/relocate.py
  datar/dplyr/rename.py
  datar/dplyr/select.py
  datar/dplyr/sets.py
  datar/dplyr/slice.py
  datar/dplyr/summarise.py
  datar/dplyr/tidyselect.py
  datar/tibble/funcs.py
  docs/TODO.md
  docs/notebooks/bind.ipynb
  docs/notebooks/count.ipynb
  docs/notebooks/distinct.ipynb
  docs/notebooks/filter-joins.ipynb
  docs/notebooks/filter.ipynb
  docs/notebooks/group_by.ipynb
  docs/notebooks/lead-lag.ipynb
  docs/notebooks/mutate-joins.ipynb
  docs/notebooks/mutate.ipynb
  docs/notebooks/nest-join.ipynb
  docs/notebooks/rename.ipynb
  docs/notebooks/select.ipynb
  docs/notebooks/setops.ipynb
  docs/notebooks/slice.ipynb
  docs/reference-maps/ALL.md
  docs/reference-maps/dplyr.md
  docs/reference-maps/tibble.md
  mkdocs.yml
  tests/test_dplyr_mutate.py
  tests/test_dplyr_relocate.py
  tests/test_dplyr_slice.py
Due: pytest, mkdocs

Add option index.base.0; refactor Collection families
  README.rst
  datar/base/__init__.py
  datar/base/funcs.py
  datar/base/options.py
  datar/core/collections.py
  datar/core/middlewares.py
  datar/core/operator.py
  datar/core/utils.py
  datar/datar/funcs.py
  datar/dplyr/across.py
  datar/dplyr/distinct.py
  datar/dplyr/group_by.py
  datar/dplyr/mutate.py
  datar/dplyr/recode.py
  datar/dplyr/relocate.py
  datar/dplyr/rename.py
  datar/dplyr/select.py
  datar/dplyr/slice.py
  datar/dplyr/tidyselect.py
  datar/tibble/funcs.py
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_base_options.py
  tests/test_core_collections.py
  tests/test_core_middlewares.py
  tests/test_dplyr_distinct.py
  tests/test_dplyr_empty_groups.py
  tests/test_dplyr_filter.py
  tests/test_dplyr_group_by.py
  tests/test_dplyr_mutate.py
  tests/test_dplyr_rename.py
  tests/test_dplyr_select.py
  tests/test_dplyr_slice.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Clean up utils.
  datar/core/utils.py
  datar/dplyr/relocate.py
  docs/indexing.md
  mkdocs.yml
Due: pytest, mkdocs

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

0.0.5
  datar/__init__.py
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Fix across API
  datar/core/collections.py
  datar/core/grouped.py
  datar/core/utils.py
  datar/dplyr/across.py
  docs/indexing.md
  docs/notebooks/across.ipynb
  tests/test_dplyr_across.py
  tests/test_dplyr_arrange.py
Due: pytest, mkdocs

Update indexing.md
  docs/indexing.md
Due: none

Add _base0 to relocate, rename and select
  datar/dplyr/mutate.py
  datar/dplyr/relocate.py
  datar/dplyr/rename.py
  datar/dplyr/select.py
  docs/indexing.md
  docs/notebooks/relocate.ipynb
  docs/notebooks/rename.ipynb
  docs/notebooks/select.ipynb
Due: pytest, mkdocs

Add _base0 to dplyr.mutate and dict pulling to dplyr.pull
  datar/dplyr/mutate.py
  datar/dplyr/pull.py
  docs/notebooks/arrange.ipynb
  docs/notebooks/count.ipynb
  docs/notebooks/mutate.ipynb
  docs/notebooks/pull.ipynb
Due: pytest, mkdocs

Fix multiple acrosses in dplyr.summarise.
  datar/dplyr/across.py
  datar/dplyr/summarise.py
  datar/dplyr/tidyselect.py
  tests/test_dplyr_summarise.py
Due: pytest, mkdocs

Add dplyr.summarise.inform to options.
  datar/dplyr/count_tally.py
  datar/dplyr/summarise.py
  docs/notebooks/summarise.ipynb
Due: pytest, mkdocs

Support slice_head/slice_tail for grouped data
  datar/dplyr/slice.py
  docs/notebooks/slice.ipynb
  tests/test_dplyr_slice.py
Due: pytest, mkdocs

Add _base0 to bind_cols/bind_rows and repair_names
  datar/core/names.py
  datar/dplyr/bind.py
  docs/notebooks/bind.ipynb
  tests/test_core_names.py
  tests/test_dplyr_bind.py
Due: pytest, mkdocs

Add _base0 to other name repair related APIs
  datar/tibble/funcs.py
  datar/tidyr/verbs.py
  docs/notebooks/tibble.ipynb
Due: pytest, mkdocs

Add _base0 to other related dplyr APIs
  datar/core/collections.py
  datar/core/utils.py
  datar/dplyr/context.py
  datar/dplyr/funs.py
  datar/dplyr/group_by.py
  datar/dplyr/group_data.py
  datar/dplyr/if_else.py
  datar/dplyr/rank.py
  datar/dplyr/tidyselect.py
  docs/notebooks/group_by.ipynb
  docs/notebooks/rowwise.ipynb
  docs/reference-maps/dplyr.md
  tests/test_dplyr_funs.py
Due: pytest, mkdocs

Update docs
  docs/datasets.md
  docs/f.md
  docs/import.md
  docs/reference-maps/ALL.md
  docs/reference-maps/datasets.md
  mkdocs.yml
Due: none

Fix testing coverage for dplyr
  datar/dplyr/tidyselect.py
  tests/test_dplyr_across.py
  tests/test_dplyr_bind.py
  tests/test_dplyr_group_by.py
  tests/test_dplyr_join.py
  tests/test_dplyr_pull.py
  tests/test_dplyr_slice.py
Due: pytest, mkdocs

0.0.6
  datar/__init__.py
  docs/CHANGELOG.md
  docs/TODO.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Add dplyr rows verbs
  datar/base/__init__.py
  datar/base/verbs.py
  datar/dplyr/__init__.py
  datar/dplyr/bind.py
  datar/dplyr/lead_lag.py
  datar/dplyr/recode.py
  datar/dplyr/rows.py
  docs/notebooks/nb_helpers.py
  docs/notebooks/rows.ipynb
  docs/reference-maps/dplyr.md
  tests/test_dplyr_rows.py
Due: pytest, mkdocs

Add tidyr.chop/unchop
  datar/core/utils.py
  datar/tibble/funcs.py
  datar/tidyr/__init__.py
  datar/tidyr/chop.py
  datar/tidyr/nest.py
  datar/tidyr/verbs.py
  docs/notebooks/chop.ipynb
  docs/reference-maps/ALL.md
  docs/reference-maps/tidyr.md
  mkdocs.yml
  tests/test_tidyr_chop.py
Due: pytest, mkdocs

Add tidyr.pack/unpack
  datar/base/verbs.py
  datar/core/types.py
  datar/core/utils.py
  datar/tidyr/__init__.py
  datar/tidyr/chop.py
  datar/tidyr/nest.py
  datar/tidyr/pack.py
  docs/notebooks/chop.ipynb
  docs/notebooks/pack.ipynb
  docs/reference-maps/tidyr.md
  mkdocs.yml
  tests/test_tidyr_nest.py
  tests/test_tidyr_pack.py
Due: pytest, mkdocs

Allow mixed numbering for tibble construction
  datar/tibble/funcs.py
  tests/test_tibble.py
Due: pytest, mkdocs

Add tidyr.nest/unnest
  datar/core/utils.py
  datar/tidyr/__init__.py
  datar/tidyr/chop.py
  datar/tidyr/nest.py
  datar/tidyr/pack.py
  datar/tidyr/verbs.py
  docs/notebooks/chop.ipynb
  docs/notebooks/nest.ipynb
  docs/reference-maps/tidyr.md
  mkdocs.yml
  tests/test_tidyr_nest.py
  tests/test_tidyr_pack.py
Due: pytest, mkdocs

Add tidyr.expand/expand_grid
  datar/base/funcs.py
  datar/core/utils.py
  datar/tidyr/__init__.py
  datar/tidyr/complete.py
  datar/tidyr/expand.py
  datar/tidyr/verbs.py
  docs/notebooks/expand.ipynb
  docs/notebooks/expand_grid.ipynb
  docs/reference-maps/tidyr.md
  tests/test_tidyr_expand.py
Due: pytest, mkdocs

Add tidyr.complete
  datar/base/funcs.py
  datar/tidyr/__init__.py
  datar/tidyr/complete.py
  datar/tidyr/verbs.py
  docs/notebooks/complete.ipynb
  docs/reference-maps/tidyr.md
  mkdocs.yml
  tests/test_tidyr_complete.py
Due: pytest, mkdocs

Move tidyr.drop_na
  datar/tidyr/__init__.py
  datar/tidyr/chop.py
  datar/tidyr/drop_na.py
  datar/tidyr/verbs.py
  docs/notebooks/drop_na.ipynb
  docs/porting_rules.md
  docs/reference-maps/tidyr.md
  mkdocs.yml
  tests/test_tidyr_drop_na.py
Due: pytest, mkdocs

Move tidyr.extract
  datar/tidyr/__init__.py
  datar/tidyr/extract.py
  datar/tidyr/verbs.py
  docs/notebooks/extract.ipynb
  docs/porting_rules.md
  docs/reference-maps/tidyr.md
  tests/test_tidyr_extract.py
Due: pytest, mkdocs

Move tidyr.fill
  datar/tidyr/__init__.py
  datar/tidyr/fill.py
  datar/tidyr/verbs.py
  docs/notebooks/fill.ipynb
  docs/reference-maps/tidyr.md
  tests/test_tidyr_fill.py
Due: pytest, mkdocs

Move and fix tidyr.pivot_longer
  datar/tidyr/__init__.py
  datar/tidyr/pivot_long.py
  datar/tidyr/separate.py
  datar/tidyr/verbs.py
  docs/notebooks/pivot_longer.ipynb
  docs/porting_rules.md
  tests/test_tidyr_pivot_long.py
Due: pytest, mkdocs

Move and fix tidyr.pivot_wider
  datar/base/constants.py
  datar/tidyr/__init__.py
  datar/tidyr/pivot_long.py
  datar/tidyr/pivot_wide.py
  datar/tidyr/verbs.py
  docs/notebooks/pivot_wider.ipynb
  docs/reference-maps/tidyr.md
  tests/test_tidyr_pivot_wide.py
Due: pytest, mkdocs

Move and fix tidyr.separate/separate_rows/uncount
  datar/core/types.py
  datar/core/utils.py
  datar/tidyr/__init__.py
  datar/tidyr/pivot_long.py
  datar/tidyr/separate.py
  datar/tidyr/uncount.py
  datar/tidyr/verbs.py
  docs/notebooks/separate.ipynb
  docs/notebooks/uncount.ipynb
  docs/reference-maps/tidyr.md
  tests/test_tidyr_separate.py
  tests/test_tidyr_uncount.py
Due: pytest, mkdocs

Move and fix tidyr.unite
  datar/core/utils.py
  datar/tidyr/__init__.py
  datar/tidyr/expand.py
  datar/tidyr/unite.py
  datar/tidyr/verbs.py
  docs/notebooks/unite.ipynb
  docs/porting_rules.md
  docs/reference-maps/tidyr.md
  tests/test_tidyr_unite.py
Due: pytest, mkdocs

Move and fix tidyr.replace_na
  datar/core/contexts.py
  datar/core/middlewares.py
  datar/tidyr/__init__.py
  datar/tidyr/complete.py
  datar/tidyr/funcs.py
  datar/tidyr/replace_na.py
  docs/notebooks/replace_na.ipynb
  docs/reference-maps/tidyr.md
  tests/test_tidyr_replace_na.py
Due: pytest, mkdocs
