Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - datar
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver datar/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

⬆️ Bump python-slugify to v8
  datar/apis/base.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest

🔖 0.11.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

0.11.2 (#174)
  README.md
  datar/__init__.py
  datar/apis/base.py
  datar/apis/dplyr.py
  datar/apis/forcats.py
  datar/apis/tibble.py
  datar/apis/tidyr.py
  datar/data/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest

Added import f to plotnine on README.md
  README.md
Due: none

Added import f to plotnine on README.md (#177)
  README.md
Due: none

⬆️ Drop support for python3.7
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Bump pipda to 0.12
  poetry.lock
  pyproject.toml
Due: versionchecker

🍱 Update storms data to 2020 (tidyverse/dplyr#5899)
  datar/data/metadata.py
  datar/data/storms.csv.gz
Due: flake8, pytest

🔖 0.12.0
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  README.md
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

0.12.0 (#178)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  README.md
  datar/__init__.py
  datar/data/metadata.py
  datar/data/storms.csv.gz
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest

⬆️ Bump datar-numpy to ^0.2
  pyproject.toml
Due: versionchecker

🔖 0.12.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

0.12.1 (#179)
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

➕ Add pyarrow backend
  README.md
  poetry.lock
  pyproject.toml
Due: versionchecker

🐛 Exclude coverage for multiline version in get_versions()
  datar/__init__.py
Due: flake8, versionchecker, pytest

⬆️ Bump up python-simpleconf to 0.6 so datar can be installed in Windows (#180)
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.12.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

🔖 0.12.2 (#181)
  README.md
  datar/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest

👷 Add scripts for codesandbox
  .codesandbox/Dockerfile
  .codesandbox/setup.sh
Due: none

💥 Change the option for conflict names (#184)
  datar/all.py
  datar/base.py
  datar/core/import_names_conflict.py
  datar/core/options.py
  datar/dplyr.py
  datar/forcats.py
  datar/misc.py
  datar/tibble.py
  datar/tidyr.py
  docs/import.md
  docs/notebooks/nb_helpers.py
  docs/options.md
  poetry.lock
  tests/test_import_names_conflict.py
Due: flake8, pytest

🔖 0.13.0
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

🎨 Allow `datar.all.filter regardless` of `allow_conflict_names`
  datar/all.py
  datar/base.py
  datar/dplyr.py
  poetry.lock
  tests/conflict_names.py
  tests/test_conflict_names.py
  tox.ini
Due: flake8, pytest

🔖 0.13.1
  datar/__init__.py
  pyproject.toml
Due: flake8, versionchecker, pytest

🔧 Update pyproject.toml to generate setup.py for poetry
  pyproject.toml
Due: versionchecker

👽️ Align rows_*() verbs to align with dplyr 1.1.3 (#188)
  datar/apis/dplyr.py
Due: flake8, pytest

🍱 Support dplyr up to 1.1.3 (#189)
  datar/apis/dplyr.py
  tests/test_dplyr.py
Due: flake8, pytest

⬆️ Bump pipda to 0.13
  poetry.lock
  pyproject.toml
Due: versionchecker

🚑 Remove unnecessary kwargs for pick
  datar/apis/dplyr.py
Due: flake8, pytest

🔖 0.14.0
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

✨ Add data who2, household, cms_patient_experience, and cms_patient_care
  datar/data/cms_patient_care.csv.gz
  datar/data/cms_patient_experience.csv.gz
  datar/data/household.csv.gz
  datar/data/metadata.py
  datar/data/who2.csv.gz
  poetry.lock
Due: flake8, pytest

🔖 0.15.0
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

⬆️ Bump datar-pandas to 0.5.1
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.15.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

⬆️ Bump datar-pandas to 0.5.2
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.15.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

⬆️ Bump pipda to 0.13.1
  datar/apis/misc.py
  datar/core/load_plugins.py
  poetry.lock
  pyproject.toml
  tests/test_array_ufunc.py
  tests/test_plugin.py
Due: flake8, versionchecker, pytest

🔖 0.15.3
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

Fix typo
  README.md
Due: none

Fix typo (#197)
  README.md
Due: none

docs: change `filter` to `filter_` in README.md
  README.md
Due: none

Path conditions:
  flake8: any of: ^datar/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|datar/__init__\.py$
  pytest: any of: ^tests/.+$|^datar/.+$
