Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - datar
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver datar/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

docs: fix typo in data.md
  docs/data.md
Due: none

deps: bump datar-pandas to 0.5.4 (support pandas 2.2+)
  poetry.lock
  pyproject.toml
Due: versionchecker

0.15.4
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

deps: bump datar-numpy to 0.3.3
  poetry.lock
  pyproject.toml
Due: versionchecker

0.15.5
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

deps: bump simplug to 0.4, datar-numpy to 0.3.4 and datar-pandas to 0.5.5
  poetry.lock
  pyproject.toml
Due: versionchecker

tests: adopt pytest v8
  poetry.lock
  pyproject.toml
  tests/test_plugin.py
Due: versionchecker, pytest

ci: use latest actions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

0.15.6
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

Add changes
  index.html
Due: none

chore(deps): drop support for python3.8
  poetry.lock
  pyproject.toml
Due: versionchecker

ci: update Python version matrix to drop 3.8 and add 3.11, 3.12
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

chore(docs): add mkdocs and related dependencies for documentation generation
  .github/workflows/docs.yml
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

0.15.7
  datar/__init__.py
  docs/CHANGELOG.md
  docs/requirements.txt
  pyproject.toml
Due: flake8, versionchecker, pytest

refactor: migrate poetry to uv for dep management
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
  setup.py
  uv.lock
Due: versionchecker

fix: correct __all__ declaration in __init__.py
  datar/__init__.py
Due: flake8, versionchecker, pytest

0.15.16
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: flake8, versionchecker, pytest

feat: update pandas dependency version to ^0.7 with pandas v3 support
  pyproject.toml
  uv.lock
Due: versionchecker

0.15.17
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: flake8, versionchecker, pytest

chore: update development dependencies: add ipykernel, pardoc, and varname; update varname version
  pyproject.toml
  uv.lock
Due: versionchecker

fix: correct NaN assignment and improve error message in c_ function
  datar/apis/base.py
Due: flake8, pytest

chore: update pipda dependency version to >=0.14
  pyproject.toml
  uv.lock
Due: versionchecker

feat: add support for polars backend in installation instructions and dependencies
  README.md
  pyproject.toml
  uv.lock
Due: versionchecker

0.16.0
  datar/__init__.py
  pyproject.toml
  uv.lock
Due: flake8, versionchecker, pytest

updated at 23:08:05 2026-08-11
  docs/notebooks2/01_create_tibble.ipynb
  docs/notebooks2/02_read_dataframe.ipynb
  docs/notebooks2/Baccalaureate_2016.xlsx
  docs/notebooks2/air_quality_no2_long.csv
  docs/notebooks2/emp_sheetname.xlsx
  docs/notebooks2/pokemon.csv
Due: none

updated at 23:11:59 2026-08-12
  docs/notebooks2/03_f_expression_PipeOperator_chaining.ipynb
  docs/notebooks2/04_RegisterVerbFunc_PipeFunction_ASTfallback.ipynb
  docs/notebooks2/baseball.csv
Due: none

updated at 22:00:23 2026-08-13
  docs/notebooks2/05_slice_head_tail_glimpse.ipynb
  docs/notebooks2/06_change_colnames_rownames.ipynb
  docs/notebooks2/emp.csv
Due: none

updated at 20:49:55 2026-08-14
  docs/notebooks2/07_sort_rank.ipynb
  docs/notebooks2/08_binding_joining.ipynb
Due: none

updated at 16:07:52 2026-08-17
  docs/notebooks2/09_pivot_long_wide_tableFrequency.ipynb
  docs/notebooks2/10_Columns_select_where_pull_reorder1.ipynb
  docs/notebooks2/11_relocate_reorder2.ipynb
  docs/notebooks2/12_RowsIndexing_slice_sliceMin_sliceMax.ipynb
  docs/notebooks2/13_Sampling_slice_sample.ipynb
  docs/notebooks2/14_BooleanIndexing_filter.ipynb
  docs/notebooks2/life_expectancy.csv
Due: none

updated at 23:11:52 2026-08-19
  docs/notebooks2/15_UniqueFilter_distinct.ipynb
  docs/notebooks2/16_add_column_row.ipynb
  docs/notebooks2/17_mutate_CaseWhen_IfElse.ipynb
  docs/notebooks2/18_summarise_agg.ipynb
Due: none

updated at 12:03:51 2026-08-20
  docs/notebooks2/19_reframe.ipynb
  docs/notebooks2/20_across_cols_transformation_everything.ipynb
Due: none

updated at 10:18:01 2026-08-21
  docs/notebooks2/21_groupby_summarise_pdGrouper.ipynb
  docs/notebooks2/22_stats_describe.ipynb
Due: none

updated at 15:24:54 2026-08-22
  docs/notebooks2/01_create_tibble.ipynb
  docs/notebooks2/04_RegisterVerbFunc_PipeFunction_ASTfallback.ipynb
  docs/notebooks2/06_change_colnames_rownames.ipynb
  docs/notebooks2/07_sort_rank.ipynb
  docs/notebooks2/08_binding_joining.ipynb
  docs/notebooks2/09_pivot_long_wide_tableFrequency.ipynb
  docs/notebooks2/10_Columns_select_where_pull_reorder1.ipynb
  docs/notebooks2/12_RowsIndexing_slice_sliceMin_sliceMax.ipynb
  docs/notebooks2/14_BooleanIndexing_filter.ipynb
  docs/notebooks2/16_add_column_row.ipynb
  docs/notebooks2/17_mutate_CaseWhen_IfElse.ipynb
  docs/notebooks2/20_across_cols_transformation_everything.ipynb
  docs/notebooks2/21_groupby_summarise_pdGrouper.ipynb
  docs/notebooks2/23_Numeric_conversion.ipynb
  docs/notebooks2/24_Categ_factor_fct_lvl_UniqueCount.ipynb
Due: none

updated at 17:03:36 2026-08-23
  docs/notebooks2/01_create_tibble.ipynb
  docs/notebooks2/03_f_expression_PipeOperator_chaining.ipynb
  docs/notebooks2/04_RegisterVerbFunc_PipeFunction_ASTfallback.ipynb
  docs/notebooks2/05_slice_head_tail_glimpse.ipynb
  docs/notebooks2/06_change_colnames_rownames.ipynb
  docs/notebooks2/07_sort_rank.ipynb
  docs/notebooks2/08_binding_joining.ipynb
  docs/notebooks2/09_pivot_long_wide_tableFrequency.ipynb
  docs/notebooks2/10_Columns_select_where_pull_reorder1.ipynb
  docs/notebooks2/11_relocate_reorder2.ipynb
  docs/notebooks2/12_RowsIndexing_slice_sliceMin_sliceMax.ipynb
  docs/notebooks2/13_Sampling_slice_sample.ipynb
  docs/notebooks2/14_BooleanIndexing_filter.ipynb
  docs/notebooks2/15_UniqueFilter_distinct.ipynb
  docs/notebooks2/16_add_column_row.ipynb
  docs/notebooks2/17_mutate_CaseWhen_IfElse.ipynb
  docs/notebooks2/18_summarise_agg.ipynb
  docs/notebooks2/19_reframe.ipynb
  docs/notebooks2/20_across_cols_transformation_everything.ipynb
  docs/notebooks2/21_groupby_summarise_pdGrouper.ipynb
  docs/notebooks2/22_stats_describe.ipynb
  docs/notebooks2/23_Numeric_conversion.ipynb
  docs/notebooks2/24_Categ_factor_fct_lvl_UniqueCount.ipynb
  docs/notebooks2/25_Logical_boolean_dtype.ipynb
  docs/notebooks2/26_Missing_NA_handling.ipynb
Due: none

updated at 16:02:06 2026-08-26
  docs/notebooks2/27_String_handling.ipynb
  docs/notebooks2/28_DateTime_handling.ipynb
  docs/notebooks2/29_plotnine_ggplot.ipynb
  docs/notebooks2/30_save_csv_excel.ipynb
  docs/notebooks2/marketing_data.csv
  docs/notebooks2/tb_baccalaureat_to.xlsx
  docs/notebooks2/tb_to.csv
Due: none

updated at 16:13:32 2026-08-26
  docs/notebooks2/01_create_tibble.ipynb
  docs/notebooks2/13_Sampling_slice_sample.ipynb
  docs/notebooks2/18_summarise_agg.ipynb
  docs/notebooks2/19_reframe.ipynb
  docs/notebooks2/24_Categ_factor_fct_lvl_UniqueCount.ipynb
  docs/notebooks2/30_save_csv_excel.ipynb
Due: none

updated at 16:15:47 2026-08-26
  docs/notebooks2/01_create_tibble.ipynb
Due: none

Path conditions:
  flake8: any of: ^datar/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|datar/__init__\.py$
  pytest: any of: ^tests/.+$|^datar/.+$
