Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest, notebooks

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - datar
  language: system

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

notebooks:
  name: Executing all notebooks
  entry: jupyter nbconvert --output-dir /tmp --to notebook --execute
  language: system
  pass_filenames: true

🐛 Fix #63
  datar/core/grouped.py
Due: flake8, pytest

📝 Update doc for argument `by` for join functions (#62)
  datar/dplyr/join.py
Due: flake8, pytest

🐛 Fix #65
  datar/core/grouped.py
  tests/test_core_grouped.py
  tests/test_dplyr_summarise.py
Due: flake8, pytest

🔖 0.5.3
  datar/__init__.py
  docs/CHANGELOG.md
  docs/reference-maps/tibble.md
  pyproject.toml
Due: flake8, pytest

🔥 Remove prints from tests
  tests/test_dplyr_count.py
Due: pytest

0.5.3 (#66)
  .coveragerc
  datar/__init__.py
  datar/core/grouped.py
  datar/dplyr/arrange.py
  datar/dplyr/join.py
  docs/CHANGELOG.md
  docs/reference-maps/tibble.md
  pyproject.toml
  tests/test_core_grouped.py
  tests/test_dplyr_arrange.py
  tests/test_dplyr_count.py
  tests/test_dplyr_summarise.py
Due: flake8, pytest

👷 Fix coverage uploads multiple times in a single CI run
  .github/workflows/build.yml
Due: none

💚 Fix CI
  .github/workflows/build.yml
Due: none

🐛 Fix `filter()` restructures group_data incorrectly (#69)
  datar/core/grouped.py
  datar/dplyr/dfilter.py
  datar/dplyr/dslice.py
  pyproject.toml
  tests/test_dplyr_group_iter.py
  tests/test_dplyr_slice.py
Due: flake8, pytest

🐛 Refix #63
  datar/core/grouped.py
  tests/test_dplyr_filter.py
  tests/test_dplyr_group_by.py
Due: flake8, pytest

🔖 0.5.4
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

0.5.4 (#70)
  .github/workflows/build.yml
  datar/__init__.py
  datar/core/grouped.py
  datar/dplyr/dfilter.py
  datar/dplyr/dslice.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_dplyr_filter.py
  tests/test_dplyr_group_by.py
  tests/test_dplyr_group_iter.py
  tests/test_dplyr_slice.py
Due: flake8, pytest

🐛 Fix #71: semi_join returns duplicated rows
  datar/dplyr/join.py
Due: flake8, pytest

🔖 0.5.5
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

🐛 Fix #71: semi_join returns duplicated rows (#75)
  datar/__init__.py
  datar/dplyr/join.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

Hotfix for types registered for `base.proportions`
  datar/base/verbs.py
Due: flake8, pytest

Update build.yml
  .github/workflows/build.yml
Due: none

Hotfix for types registered for `base.proportions` (#77)
  .github/workflows/build.yml
  datar/base/verbs.py
Due: flake8, pytest

👽️ Fix for pandas 1.4
  .github/workflows/build.yml
  datar/base/arithmetic.py
  datar/core/utils.py
  datar/dplyr/dslice.py
  datar/dplyr/mutate.py
  datar/forcats/misc.py
  tests/test_core_utils.py
Due: flake8, pytest

👷 Run workflows on master push
  .github/workflows/build.yml
Due: none

🔖 0.5.6
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

Refactor dplyr.group_by, mutate and relocate
  datar/__init__.py
  datar/base/arithmetic.py
  datar/base/seq.py
  datar/core/_frame_format_patch.py
  datar/core/contexts.py
  datar/core/grouped.py
  datar/core/operator.py
  datar/core/options.py
  datar/core/utils.py
  datar/dplyr/context.py
  datar/dplyr/dfilter.py
  datar/dplyr/distinct.py
  datar/dplyr/dslice.py
  datar/dplyr/group_by.py
  datar/dplyr/group_data.py
  datar/dplyr/group_iter.py
  datar/dplyr/if_else.py
  datar/dplyr/mutate.py
  datar/dplyr/pull.py
  datar/dplyr/relocate.py
  datar/dplyr/summarise.py
  datar/tibble/tibble.py
  datar/tibble/verbs.py
  datar/tidyr/expand.py
  datar/tidyr/nest.py
  pyproject.toml
  tests/test_dplyr_group_by.py
  tests/test_dplyr_mutate.py
  tests/test_dplyr_relocate.py
Due: flake8, pytest

Refactor dplyr.summarise
  datar/base/seq.py
  datar/core/contexts.py
  datar/dplyr/mutate.py
  datar/dplyr/summarise.py
  tests/test_dplyr_mutate.py
  tests/test_dplyr_summarise.py
Due: flake8, pytest

Fix tests for dplyr.summarise
  datar/base/arithmetic.py
  datar/base/seq.py
  datar/core/contexts.py
  datar/core/grouped.py
  datar/core/utils.py
  datar/dplyr/across.py
  datar/dplyr/context.py
  datar/dplyr/summarise.py
  datar/stats/funs.py
  datar/tibble/tibble.py
  pyproject.toml
  tests/test_core_grouped.py
  tests/test_dplyr_across.py
  tests/test_dplyr_distinct.py
  tests/test_dplyr_slice.py
  tests/test_dplyr_summarise.py
  tests/test_tibble_verbs.py
  tests/test_tidyr_nest.py
Due: flake8, pytest

Rewrite some base functions for SeriesGroupBy objects
  datar/base/arithmetic.py
  datar/base/casting.py
  datar/base/seq.py
  datar/base/which.py
  datar/core/types.py
  datar/core/utils.py
  datar/tibble/tibble.py
  tests/test_base_arithmetic.py
  tests/test_base_seq.py
  tests/test_base_which.py
Due: flake8, pytest

Rewrite some base functions for SeriesGroupBy objects
  datar/base/arithmetic_internal.py
Due: flake8, pytest

Test for tibble
  .gitignore
  datar/base/constants.py
  datar/base/seq.py
  pyproject.toml
Due: flake8, pytest

Test for tibble
  datar2/__init__.py
  datar2/base/__init__.py
  datar2/base/arithmetic.py
  datar2/base/arithmetic_internal.py
  datar2/base/constants.py
  datar2/base/seq.py
  datar2/core/collections.py
  datar2/core/contexts.py
  datar2/core/exceptions.py
  datar2/core/names.py
  datar2/core/tibble.py
  datar2/core/types.py
  datar2/core/utils.py
  datar2/testing.py
  datar2/tibble/__init__.py
  datar2/tibble/tibble.py
  test2/__init__.py
  test2/base/__init__.py
  test2/conftest.py
  test2/core/test_collections.py
  test2/tibble/__init__.py
  test2/tibble/test_tibble.py
Due: none

Test for mutate
  datar/__init__.py
  datar2/__init__.py
  datar2/base/__init__.py
  datar2/base/arithmetic.py
  datar2/base/arithmetic_internal.py
  datar2/base/na.py
  datar2/base/seq.py
  datar2/base/verbs.py
  datar2/core/defaults.py
  datar2/core/operator.py
  datar2/core/tibble.py
  datar2/core/utils.py
  datar2/dplyr/__init__.py
  datar2/dplyr/group_by.py
  datar2/dplyr/group_data.py
  datar2/dplyr/mutate.py
  datar2/dplyr/relocate.py
  datar2/dplyr/select.py
  datar2/dplyr/tidyselect.py
  datar2/testing.py
  datar2/tibble/tibble.py
  pyproject.toml
  test2/base/test_arithmetic.py
  test2/conftest.py
  test2/dplyr/__init__.py
  test2/dplyr/test_group_by.py
  test2/dplyr/test_mutate.py
  test2/dplyr/test_select.py
Due: flake8, pytest

Add new broadcasting implementation
  datar/core/utils.py
  datar2/base/__init__.py
  datar2/base/_arithmetic.py
  datar2/base/arithmetic.py
  datar2/core/__init__.py
  datar2/core/broadcast.py
  datar2/core/contexts.py
  datar2/core/operator.py
  datar2/core/options.py
  datar2/core/tibble.py
  datar2/core/utils.py
  datar2/dplyr/__init__.py
  datar2/dplyr/group_by.py
  datar2/dplyr/group_data.py
  datar2/dplyr/mutate.py
  datar2/dplyr/relocate.py
  datar2/dplyr/select.py
  datar2/dplyr/summarise.py
  datar2/dplyr/tidyselect.py
  datar2/tibble/__init__.py
  datar2/tibble/tibble.py
  test2/dplyr/test_group_by.py
  test2/dplyr/test_mutate.py
  test2/dplyr/test_relocate.py
  test2/dplyr/test_select.py
  test2/dplyr/test_summarise.py
Due: flake8, pytest

Fix broadcasting implementation
  datar/core/grouped.py
  datar/dplyr/group_by.py
  datar/dplyr/mutate.py
  datar/dplyr/summarise.py
  datar2/core/broadcast.py
  datar2/core/contexts.py
  datar2/core/options.py
  datar2/core/tibble.py
  datar2/dplyr/group_by.py
  datar2/dplyr/group_data.py
  datar2/dplyr/mutate.py
  datar2/dplyr/relocate.py
  datar2/dplyr/select.py
  datar2/dplyr/summarise.py
  datar2/testing.py
  datar2/tibble/tibble.py
  test2/core/__init__.py
  test2/core/test_broadcast.py
  test2/core/test_tibble.py
  test2/dplyr/test_group_by.py
  test2/dplyr/test_mutate.py
  test2/dplyr/test_summarise.py
  test2/tibble/test_tibble.py
Due: flake8, pytest

Fix and add tests for core.broadcast._broadcast_base
  datar2/core/broadcast.py
  datar2/dplyr/group_data.py
  datar2/dplyr/summarise.py
  test2/core/test_broadcast.py
Due: none

Fix and add tests for core.broadcast._broadcast_base
  datar2/core/broadcast.py
  datar2/core/tibble.py
  test2/core/test_broadcast.py
Due: none

Finish tests for core.broadcast
  datar2/core/broadcast.py
  datar2/core/tibble.py
  test2/core/test_broadcast.py
  test2/core/test_tibble.py
Due: none

Finish dplyr.filter
  datar2/core/broadcast.py
  datar2/core/operator.py
  datar2/dplyr/__init__.py
  datar2/dplyr/dfilter.py
  datar2/dplyr/group_by.py
  datar2/dplyr/join.py
  datar2/dplyr/mutate.py
  test2/dplyr/test_filter.py
  test2/dplyr/test_group_by.py
Due: none

Finish dplyr.rank
  datar2/core/broadcast.py
  datar2/core/tibble.py
  datar2/dplyr/__init__.py
  datar2/dplyr/dfilter.py
  datar2/dplyr/group_by.py
Due: none

Add dplyr.arrange/slice
  datar2/base/seq.py
  datar2/core/tibble.py
  datar2/dplyr/__init__.py
  datar2/dplyr/dfilter.py
Due: none

Add dplyr.arrange/slice
  datar2/core/middlewares.py
  datar2/dplyr/_rank.py
  datar2/dplyr/across.py
  datar2/dplyr/arrange.py
  datar2/dplyr/context.py
  datar2/dplyr/desc.py
  datar2/dplyr/dslice.py
  datar2/dplyr/rank.py
  test2/dplyr/test_across.py
  test2/dplyr/test_arrange.py
  test2/dplyr/test_rank.py
  test2/dplyr/test_slice.py
Due: none

Finish dplyr.across
  datar2/base/__init__.py
  datar2/base/_arithmetic.py
  datar2/base/arithmetic.py
  datar2/base/factor.py
  datar2/base/funs.py
  datar2/base/testing.py
  datar2/core/broadcast.py
  datar2/core/operator.py
  datar2/core/tibble.py
  datar2/dplyr/__init__.py
  datar2/dplyr/across.py
  datar2/dplyr/context.py
  datar2/dplyr/mutate.py
  datar2/dplyr/tidyselect.py
  datar2/stats/__init__.py
  datar2/stats/_funs.py
  datar2/stats/funs.py
  datar2/tibble/tibble.py
  test2/dplyr/test_across.py
  test2/dplyr/test_mutate.py
  test2/tibble/test_tibble.py
Due: none

Finish dplyr.arrange
  test2/dplyr/test_across.py
  test2/dplyr/test_arrange.py
Due: none

Path conditions:
  flake8: any of: ^datar/.+$ and \.py$
  pytest: any of: ^tests/.+$|^datar/.+$
  notebooks: any of: ^docs/.+\.ipynb$, but not: ^docs/.+\.nbconvert\.ipynb$
