Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest, mkdocs

poetry2setuppy:
  name: Convert pyproject.toml to setup.py
  entry: dephell deps convert --from=poetry --to=setup.py
  language: system
  pass_filenames: false

poetry2requirements:
  name: Convert pyproject.toml to requirements.txt
  entry: dephell deps convert --from=poetry --to=requirements.txt
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

mkdocs:
  name: Compile docs
  entry: mkdocs
  language: system
  args:
  - build
  pass_filenames: false

Change argument `how` of tidyr.drop_na to `how_`
  datar/tidyr/chop.py
  datar/tidyr/drop_na.py
  docs/notebooks/drop_na.ipynb
Due: pytest, mkdocs

Add advanced usage in docs; Adopt pipda v0.3.0;
  README.md
  datar/core/collections.py
  datar/core/operator.py
  datar/dplyr/across.py
  datar/dplyr/bind.py
  datar/dplyr/group_by.py
  datar/dplyr/group_iter.py
  datar/dplyr/rows.py
  datar/tibble/verbs.py
  datar/tidyr/chop.py
  datar/tidyr/nest.py
  datar/tidyr/pack.py
  docs/TODO.md
  docs/advanced.md
  docs/notebooks/bind.ipynb
  docs/piping_vs_regular.md
  docs/porting_rules.md
  mkdocs.yml
  tests/test_dplyr_filter.py
  tests/test_dplyr_join.py
  tests/test_dplyr_mutate.py
  tests/test_dplyr_rows.py
  tests/test_dplyr_select.py
  tests/test_dplyr_slice.py
  tests/test_dplyr_summarise.py
  tests/test_tibble_verbs.py
Due: pytest, mkdocs

0.3.0
  .pre-commit-config.yaml
  README.rst
  datar/__init__.py
  docs/CHANGELOG.md
  docs/porting_rules.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Update docs
  docs/f.md
Due: none

Remove pull_request from docs building CI
  .github/workflows/docs.yml
Due: none

Fix tests due to pandas v1.3.x upgrade.
  .github/workflows/build.yml
  datar/base/factor.py
  datar/core/collections.py
  tests/test_dplyr_mutate_windowed.py
  tests/test_dplyr_rows.py
  tests/test_dplyr_select.py
Due: pytest, mkdocs

Use python3.7 to build docs
  .github/workflows/docs.yml
Due: none

Change CI config
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

Make core.frame_format_patch invisible
  datar/__init__.py
  datar/core/_frame_format_patch.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Fix #28
  datar/core/_frame_format_patch.py
Due: pytest, mkdocs

Fix #26, #29, #31
  docs/caveats/NAs.md
  docs/caveats/df_index_colname.md
  docs/caveats/grouped.md
  docs/caveats/in.md
  docs/caveats/indexing.md
  docs/caveats/list.md
  docs/caveats/nested_data_frames.md
  docs/caveats/ptypes.md
  docs/caveats/tibble_vs_dataframe.md
  docs/piping_vs_regular.md
  docs/porting_rules.md
  mkdocs.yml
Due: none

Fix #38
  datar/core/operator.py
Due: pytest, mkdocs

Add `str_dtype` argument to `as_character()` to partially fix #36
  datar/base/string.py
  datar/core/_frame_format_patch.py
Due: pytest, mkdocs

0.3.2
  datar/__init__.py
  datar/core/grouped2.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Delete grouped2.py
  datar/core/grouped2.py
Due: pytest, mkdocs

0.3.2 (#34)
  datar/__init__.py
  datar/base/string.py
  datar/core/_frame_format_patch.py
  datar/core/operator.py
  docs/CHANGELOG.md
  docs/caveats/NAs.md
  docs/caveats/df_index_colname.md
  docs/caveats/grouped.md
  docs/caveats/in.md
  docs/caveats/indexing.md
  docs/caveats/list.md
  docs/caveats/nested_data_frames.md
  docs/caveats/ptypes.md
  docs/caveats/tibble_vs_dataframe.md
  docs/piping_vs_regular.md
  docs/porting_rules.md
  mkdocs.yml
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Fix SettingwithCopyWarning in pivot_longer; Use regular calling internally to make sure it works in some cases that node cannot be detected (ie Gooey)
  datar/datar/verbs.py
  datar/dplyr/arrange.py
  datar/dplyr/count_tally.py
  datar/dplyr/dfilter.py
  datar/dplyr/distinct.py
  datar/dplyr/dslice.py
  datar/dplyr/group_iter.py
  datar/dplyr/join.py
  datar/dplyr/mutate.py
  datar/dplyr/rows.py
  datar/dplyr/summarise.py
  datar/tibble/verbs.py
  datar/tidyr/chop.py
  datar/tidyr/nest.py
  datar/tidyr/pack.py
  datar/tidyr/pivot_long.py
  datar/tidyr/separate.py
  datar/tidyr/uncount.py
Due: pytest, mkdocs

Adopt pipda v0.4.2
  datar/dplyr/summarise.py
Due: pytest, mkdocs

Add performance notebook
  .gitignore
  .pre-commit-config.yaml
  docs/performance.ipynb
  mkdocs.yml
Due: none

0.4.0
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

`datar.datar_versions()` to show versions of related packages for bug reporting.
  datar/__init__.py
  docs/CHANGELOG.md
  tests/test_core_grouped.py
  tests/test_dplyr_summarise.py
Due: pytest, mkdocs

Fix testing
  tests/test_core_grouped.py
Due: pytest

Fix cov reporting
  .github/workflows/build.yml
Due: none

Fix #40: anti_join/semi_join not working when by is column mapping
  datar/dplyr/join.py
Due: pytest, mkdocs

Update example for anti_join
  docs/notebooks/filter-joins.ipynb
Due: none

Add datar version to datar.datar_versions()
  datar/__init__.py
Due: pytest, mkdocs

Don't use piping internally
  datar/tidyr/pivot_long.py
  datar/tidyr/separate.py
Due: pytest, mkdocs

Add tests for dplyr.join._merge_on
  datar/dplyr/join.py
  tests/test_dplyr_join.py
Due: pytest, mkdocs

0.4.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  tests/test_core_grouped.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

0.4.1 (#43)
  datar/__init__.py
  datar/dplyr/join.py
  datar/tidyr/pivot_long.py
  datar/tidyr/separate.py
  docs/CHANGELOG.md
  docs/notebooks/filter-joins.ipynb
  pyproject.toml
  setup.py
  tests/test_core_grouped.py
  tests/test_dplyr_join.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Add a set of functions from r-base
  datar/base/__init__.py
  datar/base/arithmetic.py
  datar/base/constants.py
  datar/base/factor.py
  datar/base/funs.py
  datar/base/na.py
  datar/base/seq.py
  datar/base/string.py
  datar/base/testing.py
  datar/base/verbs.py
  tests/__init__.py
  tests/test_base_arithmetic.py
  tests/test_base_factor.py
  tests/test_base_funs.py
  tests/test_base_seq.py
  tests/test_base_string.py
  tests/test_base_verbs.py
Due: pytest, mkdocs

Rename datar_versions to get_versions
  datar/__init__.py
  tests/test_core_grouped.py
Due: pytest, mkdocs

Add varname to requirements to close #30
  pyproject.toml
  requirements.txt
  setup.py
Due: poetry2setuppy, poetry2requirements

0.4.2
  datar/__init__.py
  datar/base/__init__.py
  docs/CHANGELOG.md
  docs/reference-maps/base.md
  pyproject.toml
  setup.py
Due: poetry2setuppy, poetry2requirements, pytest, mkdocs

Path conditions:
  poetry2setuppy: any of: pyproject.toml
  poetry2requirements: any of: pyproject.toml
  pytest: any of: ^tests/.+$|^datar/.+$
  mkdocs: any of: ^datar/.+$
