Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - datar
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver datar/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

🚑 Fix false warning when importing from all
  datar/all.py
Due: flake8, pytest

🔖 0.10.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

0.10.2 (#159)
  datar/__init__.py
  datar/all.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

✨ Add `array_ufunc` hook
  .coveragerc
  datar/all.py
  datar/core/names.py
  datar/core/options.py
  datar/core/plugin.py
  datar/datasets.py
  pyproject.toml
  tests/conftest.py
  tests/test_base.py
  tests/test_data.py
  tests/test_datar.py
  tests/test_import_names_conflict.py
  tests/test_names.py
  tests/test_options.py
  tests/test_plugin.py
  tests/test_utils.py
Due: flake8, versionchecker, pytest

💥 Change hook `data_api` to `load_dataset`
  datar/apis/data.py
  datar/core/plugin.py
  datar/data/__init__.py
  tests/test_data.py
  tests/test_import_names_conflict.py
  tests/test_plugin.py
Due: flake8, pytest

✨ Allow backend for `c[]`
  datar/core/plugin.py
  datar/core/utils.py
  tests/test_plugin.py
Due: flake8, pytest

✨ Add `c.with_backend()` for `c[]`
  datar/core/utils.py
  tests/test_plugin.py
Due: flake8, pytest

✨ Add `DatarOperator.with_backend()` to select backend for operators
  datar/core/operator.py
  datar/core/plugin.py
  tests/test_plugin.py
Due: flake8, pytest

⬆️ Bump simplug to 0.2.2
  pyproject.toml
Due: versionchecker

✅ Add tests
  .github/workflows/ci.yml
  datar/apis/forcats.py
  datar/apis/other.py
  datar/apis/tidyr.py
  datar/core/plugin.py
  tests/test_array_ufunc.py
  tests/test_dplyr.py
  tests/test_forcats.py
  tests/test_plugin.py
  tests/test_tibble.py
  tests/test_tidyr.py
Due: flake8, pytest

📝 Update docs for backends
  datar/core/options.py
  docs/backends.md
Due: flake8, pytest

📝 Fix docs
  docs/backends.md
Due: none

🔖 0.10.3rc0
  datar/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker, pytest

💚 Fix CI
  .github/workflows/ci.yml
Due: none

💚 Try add six in CI
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

💚 Add dev-deps
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

💚 Add python-slugify as dev-deps
  poetry.lock
  pyproject.toml
Due: versionchecker

💚 Fix coverage file in CI
  .github/workflows/ci.yml
Due: none

🔖 0.10.3
  datar/__init__.py
  pyproject.toml
Due: flake8, versionchecker, pytest

📝 [0.10.3] Fix docs building
  datar/data/__init__.py
  docs/reference-maps/other.md
  docs/requirements.txt
  mkdocs.yml
Due: flake8, pytest

💚 Try to ignore optional deps in CI
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

💚 Install dev-deps in CI
  .github/workflows/ci.yml
Due: none

0.10.3 (#160)
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  datar/__init__.py
  datar/all.py
  datar/apis/data.py
  datar/apis/forcats.py
  datar/apis/other.py
  datar/apis/tidyr.py
  datar/core/names.py
  datar/core/operator.py
  datar/core/plugin.py
  datar/core/utils.py
  datar/data/__init__.py
  datar/datasets.py
  docs/CHANGELOG.md
  docs/backends.md
  docs/reference-maps/other.md
  docs/requirements.txt
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_array_ufunc.py
  tests/test_base.py
  tests/test_data.py
  tests/test_datar.py
  tests/test_dplyr.py
  tests/test_forcats.py
  tests/test_import_names_conflict.py
  tests/test_names.py
  tests/test_options.py
  tests/test_plugin.py
  tests/test_tibble.py
  tests/test_tidyr.py
  tests/test_utils.py
Due: flake8, versionchecker, pytest

📝 Add testimonials in README.md
  README.md
Due: none

✅ Fix test coverage
  .coveragerc
  datar/data/__init__.py
  poetry.lock
Due: flake8, pytest

✅ Fix test coverage
  .coveragerc
  datar/core/import_names_conflict.py
Due: flake8, pytest

📝 Add backend badges in README
  README.md
Due: none

🐛 Load entrypoint plugins only when APIs are called
  datar/all.py
  datar/base.py
  datar/core/load_plugins.py
  datar/core/plugin.py
  datar/dplyr.py
  datar/forcats.py
  datar/other.py
  datar/tibble.py
  datar/tidyr.py
Due: flake8, pytest

💥 Rename `other` module to `misc`
  datar/all.py
  datar/apis/misc.py
  datar/core/load_plugins.py
  datar/core/plugin.py
  datar/misc.py
  tests/test_array_ufunc.py
  tests/test_plugin.py
Due: flake8, pytest

🔖 0.11.0
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

0.11.0 (#163)
  .coveragerc
  README.md
  datar/__init__.py
  datar/all.py
  datar/apis/misc.py
  datar/base.py
  datar/core/import_names_conflict.py
  datar/core/load_plugins.py
  datar/core/plugin.py
  datar/data/__init__.py
  datar/dplyr.py
  datar/forcats.py
  datar/misc.py
  datar/other.py
  datar/tibble.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_array_ufunc.py
  tests/test_plugin.py
Due: flake8, versionchecker, pytest

🐛 Fix `get_versions()` not showing plugin versions
  datar/__init__.py
Due: flake8, versionchecker, pytest

🐛 Fix plugins not loaded when loading datasets
  datar/data/__init__.py
Due: flake8, pytest

🔖 0.11.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

🚸 Add github issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/submit_question.yml
Due: none

📝 Update CHANGELOG
  docs/CHANGELOG.md
Due: none

0.11.1 (#164)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/submit_question.yml
  datar/__init__.py
  datar/data/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker, pytest

📝 Add pypi downloads badge to README
  README.md
Due: none

📝 Fix github workflow badges for README
  README.md
Due: none

🐛 Add return type annotation to fix #173
  datar/apis/base.py
  datar/apis/dplyr.py
  datar/apis/forcats.py
  datar/apis/tibble.py
  datar/apis/tidyr.py
  datar/data/__init__.py
Due: flake8, pytest

Path conditions:
  flake8: any of: ^datar/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|datar/__init__\.py$
  pytest: any of: ^tests/.+$|^datar/.+$
