Repository pwwang/datar: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest, notebooks

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - datar
  language: system

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

notebooks:
  name: Executing all notebooks
  entry: jupyter nbconvert --output-dir /tmp --to notebook --execute
  language: system
  pass_filenames: true

Finish dplyr.filter
  datar2/base/__init__.py
  datar2/base/complex.py
  datar2/base/constants.py
  datar2/base/testing.py
  datar2/dplyr/dfilter.py
  test2/dplyr/test_filter.py
Due: none

Almost finish dplyr.group_by
  datar2/core/broadcast.py
  datar2/core/operator.py
  datar2/dplyr/dfilter.py
  datar2/dplyr/group_by.py
  datar2/dplyr/group_data.py
  test2/core/test_broadcast.py
  test2/dplyr/test_filter.py
  test2/dplyr/test_group_by.py
Due: none

Fix dplyr tests
  datar2/base/verbs.py
  test2/dplyr/test_select.py
  test2/dplyr/test_summarise.py
Due: none

Till base.string
  datar2/base/arithmetic.py
  datar2/base/bessel.py
  datar2/base/casting.py
  datar2/base/complex.py
  datar2/base/cum.py
  datar2/base/date.py
  datar2/base/factor.py
  datar2/base/funs.py
  datar2/base/logical.py
  datar2/base/na.py
  datar2/base/null.py
  datar2/base/random.py
  datar2/base/seq.py
  datar2/base/special.py
  datar2/base/string.py
  datar2/core/factory.py
  datar2/stats/_funs.py
  test2/base/casting.py
  test2/base/test_bessel.py
  test2/base/test_complex.py
  test2/base/test_cum.py
  test2/base/test_date.py
  test2/base/test_factor.py
  test2/base/test_funs.py
  test2/base/test_seq.py
  test2/base/test_special.py
  test2/base/test_string.py
Due: none

FInish all base
  datar2/base/__init__.py
  datar2/base/seq.py
  datar2/base/table.py
  datar2/base/testing.py
  datar2/base/trig_hb.py
  datar2/base/verbs.py
  datar2/base/which.py
  datar2/core/utils.py
  datar2/dplyr/__init__.py
  datar2/dplyr/rename.py
  datar2/dplyr/select.py
  pyproject.toml
  test2/base/test_casting.py
  test2/base/test_logical.py
  test2/base/test_na.py
  test2/base/test_null.py
  test2/base/test_random.py
  test2/base/test_seq.py
  test2/base/test_special.py
  test2/base/test_string.py
  test2/base/test_table.py
  test2/base/test_testing.py
  test2/base/test_trig_hb.py
  test2/base/test_verbs.py
  test2/conftest.py
  test2/dplyr/test_rename.py
Due: none

Finish dplyr.distinct
  datar2/base/arithmetic.py
  datar2/base/testing.py
  datar2/core/factory.py
  test2/__init__.py
  test2/dplyr/test_n_distinct.py
Due: none

Add footer for TibbleGrouped
  datar/core/tibble.py
Due: flake8, pytest

Modify forcatas
  datar/forcats/__init__.py
  datar/forcats/fct_multi.py
  datar/forcats/lvl_addrm.py
  datar/forcats/lvl_order.py
  datar/forcats/lvl_value.py
  datar/forcats/lvls.py
  datar/forcats/misc.py
  datar/forcats/utils.py
  datar/tidyr/chop.py
  datar2/forcats/utils.py
  tests/forcats/test_forcats_addrm.py
  tests/forcats/test_forcats_fct_multi.py
  tests/forcats/test_forcats_lvl_order.py
  tests/forcats/test_forcats_lvl_value.py
  tests/forcats/test_forcats_misc.py
Due: flake8, pytest

Refactor forcats
  datar/forcats/fct_multi.py
  datar/forcats/lvl_addrm.py
  datar/forcats/lvl_order.py
  datar/forcats/lvl_value.py
  datar/forcats/lvls.py
  datar/forcats/misc.py
  datar/forcats/utils.py
Due: flake8, pytest

Finish tidyr
  datar/core/broadcast.py
  datar/tidyr/chop.py
  datar/tidyr/complete.py
  datar/tidyr/expand.py
  datar/tidyr/extract.py
  datar/tidyr/fill.py
  datar/tidyr/nest.py
  datar/tidyr/pack.py
  datar/tidyr/pivot_long.py
  datar/tidyr/pivot_wide.py
  datar/tidyr/separate.py
  datar/tidyr/uncount.py
  datar/tidyr/unite.py
  tests/tidyr/test_complete.py
  tests/tidyr/test_drop_na.py
  tests/tidyr/test_expand.py
  tests/tidyr/test_fill.py
  tests/tidyr/test_nest.py
  tests/tidyr/test_pack.py
  tests/tidyr/test_pivot_long.py
  tests/tidyr/test_pivot_wide.py
  tests/tidyr/test_separate.py
  tests/tidyr/test_uncount.py
  tests/tidyr/test_unite.py
Due: flake8, pytest

Finish forcats
  datar/all.py
  datar/base/string.py
  datar/base/table.py
  datar/forcats/lvl_order.py
  datar/forcats/lvl_value.py
  datar/forcats/lvls.py
  datar/forcats/misc.py
  datar/tidyr/chop.py
  tests/conftest.py
  tests/forcats/__init__.py
  tests/forcats/test_forcats_addrm.py
  tests/forcats/test_forcats_fct_multi.py
  tests/forcats/test_forcats_lvl_order.py
  tests/forcats/test_forcats_lvl_value.py
  tests/forcats/test_forcats_misc.py
Due: flake8, pytest

Fix all tests
  datar/base/seq.py
  datar/base/table.py
  datar/dplyr/_rank.py
  datar/dplyr/dfilter.py
  datar/dplyr/if_else.py
  datar/forcats/lvl_value.py
  datar/tidyr/pivot_long.py
  tests/base/test_table.py
  tests/core/test_broadcast.py
  tests/core/test_utils.py
Due: flake8, pytest

Update docs
  README.md
  datar/core/broadcast.py
  datar/core/collections.py
  datar/core/factory.py
  datar/core/options.py
  datar/core/utils.py
  datar/dplyr/group_by.py
  datar/dplyr/mutate.py
  datar/dplyr/pull.py
  datar/dplyr/relocate.py
  docs/CHANGELOG.md
  docs/advanced.md
  docs/caveats/NAs.md
  docs/caveats/blind.md
  docs/caveats/df_index_colname.md
  docs/caveats/grouped.md
  docs/caveats/in.md
  docs/caveats/indexing.md
  docs/caveats/list.md
  docs/caveats/ptypes.md
  docs/caveats/tibble_vs_dataframe.md
  docs/f.md
  docs/import.md
  docs/performance.ipynb
  docs/porting_rules.md
  docs/reference-maps/ALL.md
  docs/reference-maps/base.md
  docs/reference-maps/stats.md
  docs/reference-maps/utils.md
  mkdocs.yml
  pyproject.toml
  tests/core/test_collections.py
Due: flake8, pytest, notebooks

Fix proportion register type
  datar/base/verbs.py
Due: flake8, pytest

Try to fix CI
  datar/core/broadcast.py
  datar/dplyr/dslice.py
  datar/dplyr/group_data.py
  pyproject.toml
Due: flake8, pytest

Try to fix CI
  .github/workflows/build.yml
  datar/base/arithmetic.py
  datar/base/stats.py
  datar/base/testing.py
  datar/core/factory.py
  datar/core/tibble.py
  datar/tidyr/nest.py
  datar/tidyr/uncount.py
  pyproject.toml
  tests/core/test_tibble.py
Due: flake8, pytest

Drop support for pandas 1.2 and fix pandas compatibility
  .github/workflows/build.yml
  README.md
  datar/core/factory.py
  datar/core/tibble.py
  datar/dplyr/context.py
  datar/dplyr/dslice.py
  datar/tidyr/fill.py
  docs/CHANGELOG.md
  docs/advanced.md
  pyproject.toml
Due: flake8, pytest

Fix quantile, nth, first and last
  datar/base/arithmetic.py
  datar/core/broadcast.py
  datar/core/tibble.py
  datar/dplyr/funs.py
  docs/notebooks/lead-lag.ipynb
  docs/notebooks/summarise.ipynb
  docs/notebooks/unite.ipynb
  docs/notebooks/with_groups.ipynb
  pyproject.toml
  tests/base/test_stats.py
Due: flake8, pytest, notebooks

Add tests of multiple probs for quantile
  tests/base/test_stats.py
Due: pytest

Update CI config
  .github/workflows/build.yml
Due: none

Update changelog
  docs/CHANGELOG.md
Due: none

🔖 0.6.0
  README.md
  datar/__init__.py
  pyproject.toml
Due: flake8, pytest

Update mkdocs.yml
  mkdocs.yml
Due: none

🐛 Fix `rep(df, n)` producing a nested df 🐛 Fix `TibbleGrouped.__getitem__()` not keeping grouping structures
  datar/base/arithmetic.py
  datar/core/broadcast.py
  datar/core/factory.py
  datar/core/tibble.py
  datar/dplyr/across.py
  datar/tibble/tibble.py
  tests/core/test_factory.py
  tests/dplyr/test_mutate.py
Due: flake8, pytest

🔖 0.6.1
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

0.6.1 (#84)
  datar/__init__.py
  datar/base/arithmetic.py
  datar/core/broadcast.py
  datar/core/factory.py
  datar/core/tibble.py
  datar/dplyr/across.py
  datar/tibble/tibble.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/core/test_factory.py
  tests/dplyr/test_mutate.py
Due: flake8, pytest

🚑 Fix #87 boolean operator losing index
  datar/core/operator.py
Due: flake8, pytest

📝 Update doc for case_when (#87)
  datar/core/broadcast.py
  docs/notebooks/case_when.ipynb
Due: flake8, pytest, notebooks

📝 Update doc for case_when (#87)
  docs/notebooks/case_when.ipynb
Due: notebooks

📝 Fix links in reference map
  docs/reference-maps/base.md
Due: none

🔖 0.6.2
  datar/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, pytest

Path conditions:
  flake8: any of: ^datar/.+$ and \.py$
  pytest: any of: ^tests/.+$|^datar/.+$
  notebooks: any of: ^docs/.+\.ipynb$, but not: ^docs/.+\.nbconvert\.ipynb$
